/* BackDrop Core */
#backdrop {
    position:  absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-family: "Helvetica Neue";
    background-color: #F0F1F1;
    background-image: url("/img/bg.png");
	background-repeat: repeat;
}

#backdrop * {
   font-family: "Helvetica Neue";
}

#backdrop #backdropLogo {
    font-family: "Not Just Groovy";
    font-size: 30px;
    text-align: center;
    color: #444;
}

/* BackDrop Specific */
#backdrop .backdropContainer {
    padding: 15px;
    background: #f8f8f8;
    width: 250px;
    margin: 0px auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    -webkit-box-shadow: #ededed 0 1px 3px, #ededed 0 0 0 1px, inset #e5e5e5 0 -1px 0;
    -moz-box-shadow: #ededed 0 1px 3px, #ededed 0 0 0 1px, inset #e5e5e5 0 -1px 0;
    box-shadow: #ededed 0 1px 3px, #ededed 0 0 0 1px, inset #e5e5e5 0 -1px 0;

}

#backdrop #backdropDocTitle {
    -moz-border-radius-topleft: : 5px;
    -moz-border-radius-bottomleft: : 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 170px;
}

#backdrop #backdropUpload {
    padding: 6px 0px;
    width: 79px;
    text-align: center;
    color: #fff;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #999;
    border-left: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    background: -webkit-linear-gradient(#B5B5B5 0%, #9A9A9A 100%);
    background: -moz-linear-gradient(#B5B5B5 0%, #9A9A9A 100%);
    background: -ms-linear-gradient(#B5B5B5 0%, #9A9A9A 100%);
    background: -o-linear-gradient(#B5B5B5 0%, #9A9A9A 100%);
}

#backdrop #backdropUpload:hover {
    background: -webkit-linear-gradient(#A3A3A3 0%, #8B8B8B 100%);
    background: -moz-linear-gradient(#A3A3A3 0%, #8B8B8B 100%);
    background: -ms-linear-gradient(#A3A3A3 0%, #8B8B8B 100%);
    background: -o-linear-gradient(#A3A3A3 0%, #8B8B8B 100%);
}

#backdrop #backdropUpload:active {
    background: #8B8B8B;
}

#backdrop #upload_section {
	display: none;
	margin-bottom: 10px;
}

#backdrop #upload_slider_box {
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
	padding: 0px;
	background-color: #EDEDED;
	width: 100%;
	overflow: hidden;
}

#backdrop #upload_slider_box #upload_text {
	color: #333;
	text-align:center;
	font-weight: bold;
	float: left;
	padding: 5px 0px;
	margin: 0px;
	overflow: hidden;
}

#backdrop #upload_slider_box #upload_slider {
	color: #FFF;
	text-align:center;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: bold;
	float: left;
	margin: 0px;
	padding: 4px 0px 6px 0px;
	background-color: #007acc;
	height: 18px;
	visibility: hidden;
}

#userNavigation {
    position: fixed;
    top: 10px;
    right: 10px;
}

#userNavigation div {
    float: right;
    margin-left: 10px;
    font-size: 14px;
}

#userNavigation a {
    color: #000;
}

#userNavigation a:hover {
    color: #666;
    text-decoration: underline;

}

#backdrop #backdropLoaderImg {
    display:none;
}

/* BackDrop General */
#backdrop table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#backdrop form {
    padding: 0px;
    margin: 0px;
}

#backdrop a {
    text-decoration: none;
}

#backdrop .backdropContainer a {
    color: #0073e0;
}

#backdrop .backdropContainer a:hover {
   text-decoration: underline;
}

#backdrop .seperatorRequired {
    border-bottom: thin solid #CCC;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#backdrop .backdropInitalWelcome {
    font-size: 18px;
    text-align: center;
    color: #516067;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
}

#backdrop .backdropButton {
    margin: 0px !important;
}

#backdrop input[type=text], #backdrop input[type=password] {
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: thin solid #999;
    background: url("/img/tshadow.png") #FFF;
    background-repeat: repeat-x;
    background-position: 0px -4px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 0px;
}

#backdrop input {
	margin-bottom: 10px;
	outline: none;
	border: none;
}

#backdrop .textError {
    display: none;
    margin-top: 10px;
    text-align: center;
    color:#CC352D;
}