.grey {
    color: #4c4c4c !important;
    border: solid 1px #bfbfbf !important;
    background: -webkit-linear-gradient(#fcfcfc 0%, #eeeeee 100%) !important;
    background: -moz-linear-gradient(#fcfcfc 0%, #eeeeee 100%) !important;
    background: -ms-linear-gradient(#fcfcfc 0%, #eeeeee 100%) !important;
    background: -o-linear-gradient(#fcfcfc 0%, #eeeeee 100%) !important;
}

.light_grey {
    color: #4c4c4c !important;
    border: solid 1px #ccc !important;
    background: -webkit-linear-gradient(#fcfcfc 0%, #f6f6f6 100%) !important;
    background: -moz-linear-gradient(#fcfcfc 0%, #f6f6f6 100%) !important;
    background: -ms-linear-gradient(#fcfcfc 0%, #f6f6f6 100%) !important;
    background: -o-linear-gradient(#fcfcfc 0%, #f6f6f6 100%) !important;
}

.green {
    text-shadow: 0 -1px 0 #009d00;
    color: #fff !important;
    border: solid 1px #006e00 !important;
    box-shadow: inset 0px 1px 0px #80db80 !important;
    background: -webkit-linear-gradient(#00b700 0%, #009e00 100%) !important;
    background: -moz-linear-gradient(#00b700 0%, #009e00 100%) !important;
    background: -ms-linear-gradient(#00b700 0%, #009e00 100%) !important;
    background: -o-linear-gradient(#00b700 0%, #009e00 100%) !important;
}

.blue {
    text-shadow: 0 -1px 0 #07C;
    color: #fff !important;
    border: solid 1px #0471ed !important;
    box-shadow: inset 0px 1px 0px #80d6ff !important;
    background: -webkit-linear-gradient(#00acff 0%, #0078ff 100%) !important;
    background: -moz-linear-gradient(#00acff 0%, #0078ff 100%) !important;
    background: -ms-linear-gradient(#00acff 0%, #0078ff 100%) !important;
    background: -o-linear-gradient(#00acff 0%, #0078ff 100%) !important;
}

.blue_dark {
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(36, 136, 210) 0px, rgb(0, 108, 188) 100%);
    border-bottom-color: rgb(0, 56, 101);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 56, 101);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(0, 56, 101);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(0, 56, 101);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.199219) 1px 1px 1px 0px inset;
    color: rgb(255, 255, 255);
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
    text-shadow: rgba(0, 0, 0, 0.746094) 0px -1px 1px;
}

.red {
    text-shadow: 0 -1px 0 #dd0000;
    color: #fff !important;
    border: solid 1px #f00000 !important;
    box-shadow: inset 0px 1px 0px #e84949 !important;
    background: -webkit-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    background: -moz-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    background: -ms-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    background: -o-linear-gradient(#ff0000 0%, #e80303 100%) !important;
}

.red_harsh {
    text-shadow: 0 -1px 0 #dd0000;
    color: #fff !important;
    border: solid 1px #f00000 !important;
    box-shadow: inset 0px 1px 0px #e84949 !important;
    background: -webkit-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    background: -moz-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    background: -ms-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    background: -o-linear-gradient(#ff0000 0%, #e80303 100%) !important;
    opacity: 1 !important;
    cursor: default !important;
}

.red_harsh:active {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}