<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo">laborate.io</div></a>
         <div id="backdrop-container">
            <div class="text-center">
                <div id="backdrop-profile">
                    <img src="/img/default_gravatar.jpeg"/>
                </div>
            </div>
             <form action="/auth/login/">
                <input name="email" type="email" id="backdrop-email" class="backdrop-input" placeholder="email" autofocus="on"/>
                <input name="password" type="password" class="backdrop-input" placeholder="password" />
                <input type="submit" class="backdrop-button" value="Login"/>
             </form>
         </div>
         <div class="backdrop-bottom">Want an account? <a class="backdrop-link" href="/register/">Register</a></div>
    </div>
</div>
<% include ../includes/footer.html %>
