<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdropCore">
        <a href="/"><div id="backdropLogo">code-laborate</div></a>
        <div id="backdropInital">
            <div class="backdropContainer">
                <div class="backdropInitalWelcome seperatorRequired">Collaborative software<br>development made easy!</div>
                <div class="seperatorRequired">
                    <form action="/auth/register/">
                        <input type="text" autofocus="on" name="name" placeholder="Name"/>
                        <input type="text" name="screen_name" placeholder="Screen Name"/>
                        <input type="text" name="email" placeholder="Email"/>
                        <input type="password" name="password" placeholder="Password"/>
                        <input type="password" name="password_confirm" placeholder="Confirm Password"/>
                        <input type="submit" class="backdropButton button full blue" value="Register"/>
                    </form>
                </div>
                <div class="backdropInitalWelcome backdropInitalWelcomeSmall">
                   Have An Account? <a href="/login/">Sign In</a>
                </div>
            </div>
            <div class="textError"></div>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
