<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop_styles %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo">laborate.io</div></a>
         <div id="backdrop-container">
             <form action="/auth/register/" autocomplete="off">
                <input type="text" class="backdrop-input" autofocus="on" name="name" placeholder="name"/>
                <input type="text" class="backdrop-input" name="screen_name" placeholder="screen name"/>
                <input type="text" class="backdrop-input" name="email" placeholder="Email"/>
                <input type="password" class="backdrop-input" name="password" placeholder="password"/>
                <input type="password" class="backdrop-input" name="password_confirm" placeholder="confirm password"/>
                <input type="submit" class="backdrop-button" value="Login"/>
            </form>
         </div>
         <div class="backdrop-bottom">Have an account? <a class="backdrop-link" href="/login/">Login</a></div>
    </div>
</div>
<% include ../includes/footer.html %>
