<% include ../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container" class="inherit">
             Verification Email Has Been Sent.
             <a href="/verify/resend/" class="backdrop-link">Resend</a>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <li><a href="/logout/">Logout</a></li>
            <% include ../includes/backdrop_end.html %>
        </ul>
    </div>
</div>
<% include ../includes/end.html %>
