<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container" class="larger"><%= feedback %></div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <li><a href="/logout/">Logout</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/">© <%= company %></a></li>
        </ul>
    </div>
</div>
<% include ../includes/footer.html %>
