|
@@@
type: //Yes, you raising your the hand.
run: {command: "newlineAndIndent"}
type: //What is your question?
run: {command: "newlineAndIndent", times: 2}
type: //Hi, I am <%= (user) ? user.name : "Laborator" %>
run: {command: "newlineAndIndent"}
type: //and my question is: How do I make a while loop?
run: {command: "newlineAndIndent", times: 2}
type: //Alright class, today I will show a while loop
run: {command: "newlineAndIndent", times: 3, delay: 500}
wait: 500
type: public class WhileLoop {
run: {command: "newlineAndIndent"}
wait: 1000
type: public static void main (String[] args) {
run: {command: "newlineAndIndent"}
wait: 1500
type: int count = 1;
run: {command: "newlineAndIndent", times: 2}
type: while (count < 11) {
run: {command: "newlineAndIndent"}
type: System.out.println("Count is: " + count);
run: {command: "newlineAndIndent"}
type: count++;
run: {command: "newlineAndIndent"}
run: {command: "indentLess"}
type: }
run: {command: "newlineAndIndent"}
run: {command: "indentLess"}
type: }
run: {command: "newlineAndIndent"}
run: {command: "indentLess"}
type: }
run: {command: "newlineAndIndent", times: 3}
wait: 1500
type: //Any other questions?
wait: 1500
type: {text: " No"}
run: {command: "newlineAndIndent"}
type: //Check online for this lecture's homework
run: {command: "newlineAndIndent"}
type: //and have a good weekend!
