|
@@@
type: //Today we are going to
run: {command: "newlineAndIndent"}
type: //make a simple while demo
run: {command: "newlineAndIndent", times: 2, delay: 500}
wait: 500
type: public class WhileDemo {
run: {command: "newlineAndIndent", times: 1, delay: 500}
type: public static void main (String[] args) {
run: {command: "newlineAndIndent", times: 1, delay: 500}
type: int count = 1;
run: {command: "newlineAndIndent", times: 2, delay: 500}
type: while (count < 11) {
run: {command: "newlineAndIndent", times: 1, delay: 500}
type: System.out.println("Count is: " + count);
run: {command: "newlineAndIndent", times: 1, delay: 500}
type: count++;
run: {command: "newlineAndIndent", times: 1, delay: 500}
run: {command: "indentLess", times: 1, delay: 500}
type: }
run: {command: "newlineAndIndent", times: 1, delay: 500}
run: {command: "indentLess", times: 1, delay: 500}
type: }
run: {command: "newlineAndIndent", times: 1, delay: 500}
run: {command: "indentLess", times: 1, delay: 500}
type: }
run: {command: "newlineAndIndent", times: 3, delay: 500}
type: //Check online for this lectures homework
run: {command: "newlineAndIndent", times: 1, delay: 500}
type: //Have a good weekend!
