# Professor:
# Yes, you raising your the hand.
# What is your question?


|
@@@
type: # <%= (user) ? user.name : "Student" %>:
run: {command: "newlineAndIndent"}
type: # How do I make a while loop?
run: {command: "newlineAndIndent", times: 2}
type: # Professor:
run: {command: "newlineAndIndent"}
type: # Alright class, today I will show you a while loop
run: {command: "newlineAndIndent", times: 3, delay: 500}
wait: 500
type: count = 0
run: {command: "newlineAndIndent", times: 2}
wait: 1000
type: while (count < 9):
run: {command: "newlineAndIndent"}
wait: 1500
type: print 'The count is:', count
run: {command: "newlineAndIndent"}
type: count = count + 1
run: {command: "newlineAndIndent", times: 2}
run: {command: "indentLess"}
type: print "Good bye!"
run: {command: "newlineAndIndent", times: 3}
wait: 1500
type: # Professor:
run: {command: "newlineAndIndent"}
type: # Any other questions?
wait: 1500
type: {text: " No"}
run: {command: "newlineAndIndent"}
type: # Check online for this lecture's homework
run: {command: "newlineAndIndent"}
type: # and class is dismissed.
wait: 1000
type: {text: " Have a good day!"}
