@import '../core/index';
@import '../compless/all';

#backdrop-core {
    #backdrop-header {
        text-align: left;
        padding-left: 20px;
        .box-sizing(border-box);
    }

    .add-groups {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 15px;
        padding: 9px 11px;
        .border-radius(0 5px 0 0);
    }

    .gravatar {
        width: 125px;
        height: 125px;
        overflow: hidden;
        margin-right: 25px;
        .float-left();
        .border-radius(3px);
        .box-shadow(0 1px 0 rgba(0, 0, 0, .3));

        img {
            width: 125px;
            height: 125px;
        }
    }

    .information {
        position: relative;
        .float-left();

        .item {
            margin-top: 15px;

            &:first-child {
                margin-top: 0;
            }

            .key {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.6);
                margin-bottom: 2px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
            }

            .value {
                font-size: 15px;
                font-weight: bold;
                width: 200px;
                word-wrap: break-word;

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
