@import '../core/index';
@import '../core/sidebar';
@import '../core/contextmenu';
@import '../compless/all';

html, body {
    overflow: hidden;
    background: @color_body;
}

.panel {
    &.sidebar, &.chat {
        width: 20% !important;

        &.sidebar {
            left: 0;
            .transition(left);

            &.fullscreen {
                left: -25%;
            }
        }

        &.chat {
            right: 0;
            .transition(right);

            &.fullscreen {
                right: -25%;
            }
        }
    }

    &.main {
        width: 60%;
        height: 100%;
        left: 20%;
        padding: 85px 0 0 0;
        border-left: solid 1px darken(@color_body, 5%);
        border-right: solid 1px darken(@color_body, 5%);
        .float-left();
        .transition(all);

        &.fullscreen {
            left: 0%;
            width: 100%;
        }

        .subheader {
            padding: 0 15px;
            height: 35px;

            & > div:not(.message) {
                display: inherit !important;
            }

            .filters {
                color: darken(@color_body, 45%);

                strong {
                    margin-bottom: -1px;
                }
            }

            .toggles {
                position: absolute;
                top: -5px;
                padding: 5px;
                color: darken(@color_body, 50%);
                background: darken(@color_body, 10%);
                cursor: pointer;
                .border-radius(2px);

                &:hover {
                    background: darken(@color_body, 15%);

                    &:active {
                        background: darken(@color_body, 20%);
                    }
                }

                &.active {
                    color: darken(@color_body, 10%);
                    background: darken(@color_body, 50%);

                    &:hover {
                        background: darken(@color_body, 55%);

                        &:active {
                            background: darken(@color_body, 60%);
                        }
                    }
                }

                &.fullscreen-toggle {
                    right: 15px;
                }

                &.terminal-toggle {
                    right: 50px;
                }
            }
        }

        .pane {
            .calc-height(~"100% - 35px");
        }
    }
}
