html, body {
    overflow: hidden;
    background: #fff;
}

.notification {
    top: 34px;
}

#editorCodeMirror {
    overflow: hidden;
	clear: none;
	margin: 0px 245px 0px 211px;
    padding: 0px;
    position: relative;
}

.full_screen {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 100;
    color: #777;
    text-align: right;
}

.full_screen_item {
    margin-bottom: 20px;
}

.full_screen_item:hover {
    color: #000;
}

#chat_bubble_count {
    margin: -2px 5px 0 0;
}


@media print {
    html, body {
        margin: 0px !important;
        padding: 0px !important;
    }

    #express-debug, #sidebar,
    #tshadow, #full_screen,
    #chatRoom, #header_navigation {
        display: none !important;
    }

    #header {
        background: none !important;
        position: relative !important;
        display: inherit !important;
    }

    #logo {
        text-shadow: none !important;
        color: #333 !important;
    }

    #editorCodeMirror {
        margin: 10px !important;
        overflow: visible !important;
        width: 100% !important;
    }

    .CodeMirror[style], .CodeMirror-scroll {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 10px !important;
    }

    .CodeMirror-scroll {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .CodeMirror-gutter {
        background: none !important;
        padding-right: 10px !important;
    }

    .CodeMirror-gutter-text {
        color: #333 !important;
    }
}
