@import '../core/index';
@import '../compless/all';

#backdrop {
    background: @color_header_top;

    #backdrop-container {
        background: none;
        .box-shadow(none);
        .border-radius(none);

        .backdrop-text {
            margin-bottom: 3px;
        }

        .loader-bar {
            border: none;
        }
    }
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;

    .header,
    .header .bottom,
    .pane {
        width: 100%;
    }

    .pane {
        background: #f9f9f9;
        border: solid 1px #ccc;
        height: 100%;
        margin-top: -2px;
        position: relative;
        z-index: 1;

        .cm-s-laborate .CodeMirror-gutters {
            background: #f9f9f9;
        }

        .shadow-top {
            top: -3px;
        }
    }

    .header {
        position: relative;
        z-index: 2;
        height: 40px;

        .bottom {
            position: relative;
            background: @color_header_top;
            color: #fff;
            padding: 7px 25px 7px 55px;

            .linkable {
                position: absolute;
                top: 0;
                display: inline-block;
                .clearfix();

                &.edit {
                    right: 0;
                    font-family: "Not Just Groovy";
                    font-weight: bold;
                    padding: 14px;
                    background: darken(@color_header_top, 5%);
                    color: #fff;
                    font-weight: lighter;
                    font-size: 12px;

                    &:hover {
                        background: darken(@color_header_top, 8%);

                        &:active {
                            background: darken(@color_header_top, 11%);
                        }
                    }
                }

                &.logo {
                    left: 0;
                    padding: 10px;
                    background: lighten(@color_header_top, 8%);

                    &:hover {
                        background: lighten(@color_header_top, 11%);

                        &:active {
                            background: lighten(@color_header_top, 13%);
                        }
                    }

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }


            .message {
                color: darken(#fff, 5%);
            }

            .filters {
                font-size: 13px;
                color: darken(#fff, 5%);

                .filter {
                    strong {
                        color: darken(#fff, 10%);
                    }

                    @media only screen and (max-width: 550px) {
                        & {
                            display: none;

                            &:first-child,
                            &:nth-child(2) {
                                display: block;
                                max-width: inherit;
                            }
                        }
                    }

                    @media only screen and (max-width: 480px) {
                        & strong {
                            color: #fff;
                        }

                        & span,
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
