#editorCodeMirror * {outline: none;}

.CodeMirror {overflow: visible;}
.CodeMirror-scroll {height: 100%; overflow-y: auto; overflow-x: auto;}
.CodeMirror-focused .cm-matchhighlight {background: #adfab4}
.CodeMirror-activeline-background {background: rgba(213,238,250,0.2);}
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.cm-s-laborate {background: #fff;; color: #323231;}
.cm-s-laborate .CodeMirror-selected {background: rgba(176,208,255,0.61);}
.cm-s-laborate .CodeMirror-highlighted {background: #b0d0ff;}
.cm-s-laborate .CodeMirror-gutters {background: none; border-right: 0px; padding-right: 10px;}
.cm-s-laborate .CodeMirror-linenumber {cursor: pointer;}
.cm-s-laborate .CodeMirror-cursor {border-left: 1px solid #666;}
.cm-s-laborate .CodeMirror-breakpoint {color: #56606E;}
.cm-s-laborate .CodeMirror-dialog {
    position: absolute !important;
    padding: 10px 0px 10px 10px !important;
    font-size: 24px !important;
    overflow: visible !important;
    z-index: 100 !important;
    height: auto !important;
    margin-right: -15px !important;
}

.cm-s-laborate .CodeMirror-dialog-top {
    border-bottom: solid 1px #ccc;
}

.cm-s-laborate .CodeMirror-dialog-bottom {
    border-top: solid 1px #ccc;
}

.cm-s-laborate .CodeMirror-dialog input {
    font-size: 20px;
}

.cm-s-laborate .CodeMirror-dialog button,
.cm-s-laborate .CodeMirror-dialog input[type=button] {
    background: -webkit-linear-gradient(#ffffff 0%, #ededed 100%);
    background: -moz-linear-gradient(#ffffff 0%, #ededed 100%);
    background: -ms-linear-gradient(#ffffff 0%, #ededed 100%);
    background: -o-linear-gradient(#ffffff 0%, #ededed 100%);
    outline: none;
    border: solid 1px #b0b0b0;
    border-radius: 3px;
    padding: 5px 10px;
    color: #666;
    cursor: pointer;
}

.cm-s-laborate .CodeMirror-dialog button:hover,
.cm-s-laborate .CodeMirror-dialog input[type=button]:hover {
    border: solid 1px #737373;
}

.cm-s-laborate .CodeMirror-dialog button:active,
.cm-s-laborate .CodeMirror-dialog input[type=button]:active {
    border: solid 1px #5b5b5b;
}

.cm-s-laborate pre {color: #292929; padding: 0;}
.cm-s-laborate span.cm-searching {background: #adfab4;}
.cm-s-laborate span.cm-comment {color: #8E908C;}
.cm-s-laborate span.cm-atom {color: #C82829;}
.cm-s-laborate span.cm-number {color: #006ab5;}
.cm-s-laborate span.cm-meta {color: #E42040;}
.cm-s-laborate span.cm-qualifier {color: #b76000;}
.cm-s-laborate span.cm-operator {color: #4042c2;}

.cm-s-laborate span.cm-attribute {color: #AB5800;}
.cm-s-laborate span.cm-property {color: #000;}
.cm-s-laborate span.cm-keyword {color: #A32575;}
.cm-s-laborate span.cm-string {color: #355a88;}

.cm-s-laborate span.cm-builtin {color: #8734BE;}
.cm-s-laborate span.cm-variable {color: #000;}
.cm-s-laborate span.cm-variable-2 {color: #956C00;}
.cm-s-laborate span.cm-def {color: #357d88;}
.cm-s-laborate span.cm-error {background: #ff0000; color: #f8f8f0;}
.cm-s-laborate span.cm-bracket {color: #f8f8f2;}
.cm-s-laborate span.cm-tag {color: #9B2A92;}
.cm-s-laborate span.cm-link {color: #7227ff;}
.cm-s-laborate span.cm-header {color: #00a831}

.cm-s-laborate .CodeMirror-matchingbracket { color: #a62da2 !important;}
.cm-s-laborate .CodeMirror-nonmatchingbracket {color: #ff0000 !important;}
.cm-s-laborate .acWord {color:black;}
.cm-s-laborate .fileLink::after {border-bottom-color: #fbfbfe !important;}

@media print {
    .codemirror, .codemirror-scroll {
        margin-bottom: 0px !important;
        height: intrinsic !important;
    }
}
