<% include ../includes/header.html %>
<div class="sidebar">
    <div class="profile">
        <div class="img">
            <a href="/account/">
                <img src="<%= gravatar %>" />
            </a>
        </div>
    </div>
    <div class="controller">
        <div class="title">User Settings</div>
        <div class="clear"></div>
    </div>
    <div class="locations">
        <div class="shadow-top"></div>
        <div class="listing">
            <div class="item" data-key="profile">
                <div class="container">
                    <div class="name">Profile</div>
                    <div class="icon icon-users"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="account">
                <div class="container">
                    <div class="name">Account Settings</div>
                    <div class="icon icon-cog"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="locations">
                <div class="container">
                    <div class="name">Manage Locations</div>
                    <div class="icon icon-layers"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="notifications">
                <div class="container">
                    <div class="name">Notifications</div>
                    <div class="icon icon-paperplane"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="billing">
                <div class="container">
                    <div class="name">Billing</div>
                    <div class="icon icon-credit-card"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="payments">
                <div class="container">
                    <div class="name">Payment History</div>
                    <div class="icon icon-book-2"></div>
                </div>
                <div class="active"></div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
