<% include ../includes/header.html %>
<div class="sidebar">
    <div class="profile">
        <div class="img">
            <img src="https://www.gravatar.com/avatar/<%= user.email_hash %>?s=152&d=http%3A%2F%2F<%= host %>%2Fimg%2Fdefault_gravatar.jpeg" />
        </div>
    </div>
    <div class="controller">
        <div class="title">Locations</div>
        <div class="addition icon-plus"></div>
        <div class="clear"></div>
    </div>
    <div class="locations">
        <div class="item activated">
            <div class="container">
                <div class="name">My Drive</div>
                <div class="icon"></div>
            </div>
            <div class="active"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="name">Laborate.io</div>
                <div class="icon icon-install"></div>
            </div>
            <div class="active"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="name">Laborate/code</div>
                <div class="icon icon-github-3"></div>
            </div>
            <div class="active"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="name">Laborate/landing</div>
                <div class="icon icon-bitbucket"></div>
            </div>
            <div class="active"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="name">Dropbox</div>
                <div class="icon icon-dropbox-2"></div>
            </div>
            <div class="active"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="name">Google Drive</div>
                <div class="icon icon-google-drive"></div>
            </div>
            <div class="active"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="header">
        <div class="top">
            <div class="search">
                <div class="icon icon-search"></div>
                <input type="text" placeholder="Search your files..." />
                <button type="submit">Search</button>
            </div>
            <div class="accounts">
                <a href="/account/">My Account</a>
                <span>|</span>
                <a href="/logout/">Sign Out</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <div class="message"></div>
            <div class="filters">
                <div class="filter">
                    <span>File Size:</span>
                    <select>
                        <option>add filter</option>
                        <option value="0">1k - 10k</option>
                        <option value="1">10k - 100k</option>
                        <option value="2">100k - 1mb</option>
                        <option value="3">1mb+</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
                <div class="filter">
                    <span>File Product:</span>
                    <select>
                        <option>add filter</option>
                        <option value="code">code</option>
                        <option value="pen">pen</option>
                        <option value="math">math</option>
                        <option value="image">image</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
                <div class="filter">
                    <span>Laborators:</span>
                    <select>
                        <option>add filter</option>
                        <option value="0">0-2</option>
                        <option value="1">3-5</option>
                        <option value="2">6-8</option>
                        <option value="3">9-11</option>
                        <option value="3">11+</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
            </div>
            <div class="add-files">
                <div id="create">Create File</div>
                <div id="upload" class="icon-upload-3"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="files">
        <div class="file">
            <div class="display red">
                <div class="icon icon-zip"></div>
            </div>
            <div class="name">views.zip</div>
        </div>
        <div class="file">
            <div class="display blue">
                <div class="icon icon-folder"></div>
            </div>
            <div class="name">views</div>
        </div>
        <div class="file">
            <div class="display">
                <div class="icon icon-file-xml"></div>
            </div>
            <div class="name">login.html</div>
        </div>
        <div class="file">
            <div class="display">
                <div class="icon icon-file-css"></div>
            </div>
            <div class="name">login.css</div>
        </div>
        <div class="file">
            <div class="display red">
                <div class="icon icon-file-css"></div>
            </div>
            <div class="name">login.css</div>
        </div>
        <div class="file">
            <div class="display red">
                <div class="icon icon-file-xml"></div>
            </div>
            <div class="name">login.html</div>
        </div>
        <div class="file">
            <div class="display blue">
                <div class="icon icon-image"></div>
            </div>
            <div class="name">error.img</div>
        </div>
        <div class="file">
            <div class="display green">
                <div class="icon icon-notebook"></div>
            </div>
            <div class="name">chem lecture</div>
        </div>
        <div class="file">
            <div class="display purple">
                <div class="icon icon-calculator"></div>
            </div>
            <div class="name">math theorems</div>
        </div>
    </div>
</div>
<div class="clear"></div>
<% include ../includes/footer.html %>
