<% include ../includes/header.html %>
<div class="sidebar">
    <div class="profile">
        <div class="img">
            <a href="/account/">
                <img src="https://www.gravatar.com/avatar/<%= user.email_hash %>?s=152&d=http%3A%2F%2F<%= host %>%2Fimg%2Fdefault_gravatar.jpeg" />
            </a>
        </div>
    </div>
    <div class="controller">
        <div class="title">Locations</div>
        <div class="addition icon-plus"></div>
        <div class="clear"></div>
    </div>
    <div class="locations">
        <div class="item" data-key="online" data-counter="0">
            <div class="container">
                <div class="name">Your Drive</div>
                <div class="icon icon-briefcase"></div>
            </div>
            <div class="active"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="header">
        <div class="top">
            <div class="search">
                <form id="search">
                    <div class="icon icon-search"></div>
                    <input type="text" placeholder="Search your files..." />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="accounts">
                <a href="/account/">My Account</a>
                <span>|</span>
                <a href="/logout/">Sign Out</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <div class="message"></div>
            <div class="filters">
                <!-- Online -->
                <div class="filter" data-type="online">
                    <span>File Size:</span>
                    <select name="size">
                        <option>add filter</option>
                        <option value="0">1k - 10k</option>
                        <option value="1">10k - 100k</option>
                        <option value="2">100k - 1mb</option>
                        <option value="3">1mb+</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
                <div class="filter" data-type="online">
                    <span>File Type:</span>
                    <select name="type">
                        <option>add filter</option>
                        <option value="file-script">script file</option>
                        <option value="file-template">template file</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
                <div class="filter" data-type="online">
                    <span>Laborators:</span>
                    <select name="laborators">
                        <option>add filter</option>
                        <option value="0">0-2</option>
                        <option value="1">3-5</option>
                        <option value="2">6-8</option>
                        <option value="3">9-11</option>
                        <option value="3">11+</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>

                <!-- Non Online -->
                <div class="filter" data-type="non-online">
                    <span>File Type:</span>
                    <select name="type">
                        <option>add filter</option>
                        <option value="folder">folder</option>
                        <option value="file-script">script file</option>
                        <option value="file-template">template file</option>
                        <option value="file-zip">zip/archive</option>
                        <option value="file-image">image</option>
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
            </div>
            <div class="download-files">
                <span class="icon-download-3"></span>
                <span>Download Files</span>
            </div>
            <div class="cancel-files">
                <span class="icon-thumbs-down-2"></span>
                <span>Cancel</span>
            </div>
            <div class="confirm-files">
                <span class="icon-thumbs-up-2"></span>
                <span>Confirm</span>
            </div>
            <div class="add-files">
                <div id="create">Create File</div>
                <div id="upload" class="icon-upload-3"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="files"></div>
</div>
<div class="clear"></div>
<% include ../includes/footer.html %>
