<% include ../includes/header.html %>
<div class="sidebar">
    <div class="profile">
        <div class="img">
            <a href="/account/notifications/">
                <img src="<%= gravatar %>" />
            </a>
        </div>
    </div>
    <div class="controller">
        <div class="title">Locations</div>
        <div id="add-location" class="addition <%= icons.add_square %>"></div>
        <div class="clear"></div>
    </div>
    <div class="info"></div>
    <div class="list">
        <div class="shadow-top"></div>
        <div class="listing"></div>
        <div class="shadow-bottom"></div>
    </div>
</div>
<div class="content">
    <div class="header">
        <div class="top">
            <div class="search">
                <form id="search" autocomplete="off">
                    <div class="icon <%= icons.search %>"></div>
                    <input type="text" placeholder="Search your files..." />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="accounts">
                <% if(user.admin) { %>
                    <a href="/admin/">Admin</a>
                    <span>|</span>
                <% } %>
                <a href="/account/">Account</a>
                <span>|</span>
                <a href="/trending/">Trending</a>
                <span>|</span>
                <a href="/logout/">Sign Out</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <div class="message"></div>
            <div class="filters">
                <!-- Online -->
                <div class="filter" data-type="online">
                    <span>File Size:</span>
                    <select name="size">
                        <option>add filter</option>
                        <option value="0">less than 1k</option>
                        <option value="1">1k - 10k</option>
                        <option value="2">10k - 100k</option>
                        <option value="3">100k - 1mb</option>
                        <option value="4">greater than 1mb</option>
                    </select>
                    <div class="icon <%= icons.menu_arrows %>"></div>
                </div>
                <div class="filter" data-type="online">
                    <span>File Type:</span>
                    <select name="type">
                        <option>add filter</option>
                        <!-- <option value="folder">folder</option> -->
                        <option value="file-script">script</option>
                        <option value="file-template">template</option>
                        <!-- <option value="file-zip">zip/archive</option> -->
                        <!-- <option value="file-image">image</option> -->
                    </select>
                    <div class="icon icon-menu"></div>
                </div>
                <div class="filter" data-type="online">
                    <span>Laborators:</span>
                    <select name="laborators">
                        <option>add filter</option>
                        <option value="0">0-2</option>
                        <option value="1">3-5</option>
                        <option value="2">6-8</option>
                        <option value="3">9-11</option>
                        <option value="4">11+</option>
                    </select>
                    <div class="icon <%= icons.menu_arrows %>"></div>
                </div>

                <!-- Non Online -->
                <div class="filter" data-type="non-online">
                    <span>File Size:</span>
                    <select name="size">
                        <option>add filter</option>
                        <option value="0">less than 1k</option>
                        <option value="1">1k - 10k</option>
                        <option value="2">10k - 100k</option>
                        <option value="3">100k - 1mb</option>
                        <option value="4">greater than 1mb</option>
                    </select>
                    <div class="icon <%= icons.menu_arrows %>"></div>
                </div>
                <div class="filter" data-type="non-online">
                    <span>File Type:</span>
                    <select name="type">
                        <option>add filter</option>
                        <option value="folder">folder</option>
                        <option value="file-script">script</option>
                        <option value="file-template">template</option>
                        <option value="file-zip">zip/archive</option>
                        <option value="file-image">image</option>
                        <option value="file">other</option>
                    </select>
                    <div class="icon <%= icons.menu_arrows %>"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="download-files side-button">
                <span class="icon <%= icons.download %>"></span>
                <span>Download Files</span>
            </div>
            <div class="cancel-files side-button">
                <span class="icon <%= icons.thumbs_down %>"></span>
                <span>Cancel</span>
            </div>
            <div class="confirm-files side-button">
                <span class="icon <%= icons.thumbs_up %>"></span>
                <span>Confirm</span>
            </div>
            <div class="select-files side-button">
                <span class="icon <%= icons.grid_square %>"></span>
                <span>Select All</span>
            </div>
            <div class="add-files">
                <div id="create">Create File</div>
                <div id="upload" class="icon <%= icons.upload %>"></div>
            </div>
            <div class="terminal-button">
                <span class="icon <%= icons.terminal %>"></span>
                <span>Terminal</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="pane"></div>
    <div class="terminal">
        <a target="_blank" class="<%= icons.expand %>"></a>
        <iframe width="100%" height="100%" frameborder="0"></iframe>
    </div>
</div>
<div class="popup">
    <div class="container">
        <div class="header">
            <div class="title"></div>
            <div class="side">
                <div class="download icon <%= icons.download %>"></div>
                <div class="icon close">X</div>
            </div>
        </div>
        <div class="actions">
            <div class="action" id="popup-add-location">
                <form action="/documents/location/create/" data-callback="locations">
                    <input name="location[name]" type="text" placeholder="name" data-required="true"/>
                    <div class="list" data-name="location" data-required="true">
                        <div class="shadow-top"></div>
                        <div class="shadow-bottom"></div>
                        <div class="listing"></div>
                    </div>
                    <button type="submit">Add Location</button>
                </form>
            </div>
            <div class="action" id="popup-add-location-sftp">
                <form action="/documents/location/create/" data-callback="locations" autocomplete="off">
                    <input class="keep" name="location[type]" type="hidden" value="sftp" data-required="true"/>
                    <input name="location[name]" type="text" placeholder="name" data-required="true"/>
                    <input name="location[host]" type="text" placeholder="host" data-required="true"/>
                    <input name="location[username]" type="text" placeholder="username" data-required="true"/>
                    <input name="location[password]" type="password" placeholder="password" data-required="true"/>
                    <input name="location[default]" type="text" placeholder="default path"/>
                    <button type="submit">Add Location</button>
                </form>
            </div>
            <div class="action" id="popup-create">
                <form action="/documents/file/create/" data-callback="fileCreated">
                    <input name="path" type="hidden"/>
                    <input name="location" type="hidden"/>
                    <input name="name" type="text" placeholder="file name" data-required="true"/>
                    <button type="submit">Create File</button>
                </form>
            </div>
            <div class="action" id="popup-rename">
                <form action="/documents/file/rename/" data-callback="fileRename">
                    <input name="name" type="text" placeholder="file name" data-required="true"/>
                    <button type="submit">Rename File</button>
                </form>
            </div>
            <div class="action" id="popup-url">
                <input type="text"/>
            </div>
            <div class="action" id="popup-widget">
                <div class="sizes">
                    <div class="item">
                        <div class="name">Small</div>
                        <div class="dimension">400px x 400px</div>
                        <input name="width" type="hidden" value="400px" class="keep" />
                        <input name="height" type="hidden" value="400px" class="keep" />
                    </div>
                    <div class="item">
                        <div class="name">Medium</div>
                        <div class="dimension">500px x 400px</div>
                        <input name="width" type="hidden" value="500px" class="keep" />
                        <input name="height" type="hidden" value="400px" class="keep" />
                    </div>
                    <div class="item">
                        <div class="name">Fullscreen</div>
                        <div class="dimension">100% x 100%</div>
                        <input name="width" type="hidden" value="100%" class="keep" />
                        <input name="height" type="hidden" value="100%" class="keep" />
                    </div>
                    <div class="item custom">
                        <input name="width" type="text" placeholder="width" value="600px" class="keep" />
                        <input name="height" type="text" placeholder="height" value="400px" class="keep" />
                    </div>
                </div>
                <textarea></textarea>
            </div>
            <div class="action" id="popup-upload">
                <form action="/documents/file/upload/" data-callback="fileCreated" enctype="multipart/form-data">
                    <input name="path" type="hidden"/>
                    <input name="location" type="hidden"/>
                    <input name="files" type="file" multiple="multiple"/>
                    <div class="list">
                        <div class="shadow-top"></div>
                        <div class="shadow-bottom"></div>
                        <div class="listing"></div>
                    </div>
                    <button type="submit">Upload Files</button>
                </form>
            </div>
            <div class="action" id="popup-image">
                <img />
            </div>
        </div>
    </div>
</div>
<div class="context-menu">
    <a class="context-menu-open item">Open</a>
    <a class="context-menu-open item" target="_blank">Open In Tab</a>
    <div id="contect-menu-rename" class="item" data-action="rename">Rename</div>
    <div id="context-menu-remove" class="item" data-action="remove"></div>
    <div id="context-menu-url" class="item" data-action="url">Share Url</div>
    <div id="context-menu-widget" class="item" data-action="widget">Widget Embed</div>
</div>
<% include ../includes/footer.html %>
