<div class="new header <%= header_class %>">
    <a href="/" class="logo">
        <img src="<%= logos.logo %>" />
    </a>
    <div class="apps">
        <a href="/news/" class="app news <%= (header == "news") ? "activated" : "" %>">
            <div class="icon <%= icons.news_feed %>"></div>
            <div class="active"></div>
        </a>
        <a href="/documents/" class="app documents <%= (header == "documents") ? "activated" : "" %>">
            <div class="icon <%= icons.documents %>"></div>
            <div class="active"></div>
        </a>
        <a href="/terminals/" class="app terminals <%= (header == "terminal") ? "activated" : "" %>">
            <div class="icon <%= icons.terminal %>"></div>
            <div class="active"></div>
        </a>
        <a href="/groups/" class="app users <%= (header == "users") ? "activated" : "" %>">
            <div class="icon <%= icons.groups %>"></div>
            <div class="active"></div>
        </a>
        <a href="/help/" class="coming-soon app help <%= (header == "help") ? "activated" : "" %>">
            <div class="icon <%= icons.help %>"></div>
            <div class="active"></div>
        </a>
    </div>
    <% if(!user.fake) { %>
        <div class="search">
            <div class="icon <%= icons.search %>"></div>
            <form class="form coming-soon" action="/search/"  autocomplete="off">
                <input name="q" class="input" type="text" placeholder="Search for ..."/>
            </form>
        </div>
        <div class="profile">
            <a href="/users/<%= user.screen_name %>/" class="name">
                <%= user.screen_name %>
            </a>
            <div class="gravatar">
                <img src="<%= user.gravatar %>"/>
            </div>
            <div class="dropdown">
                <div class="top"></div>
                <div class="bottom">
                    <% if(user.admin) { %>
                        <div class="section">
                            <a href="/admin/">
                                <span class="icon <%= icons.admin %>"></span>
                                Admin Center
                            </a>
                        </div>
                    <% } %>
                    <div class="section">
                        <a href="/account/profile/">
                            <span class="icon <%= icons.profile %>"></span>
                            Profile
                        </a>
                        <a href="/account/">
                            <span class="icon <%= icons.account %>"></span>
                            Account
                        </a>
                        <a href="/logout/">
                            <span class="icon <%= icons.sign_out %>"></span>
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/account/notifications/" class="notifications">
            <div class="icon <%= icons.notification %>"></div>
        </a>
    <% } else { %>
        <div class="linkables">
            <a class="link" href="/login/">Login</a>
            <span>|</span>
            <a class="link" href="/register/">Register</a>
        </div>
    <% } %>
</div>
