<!--
| | __ _| |__   ___  _ __ __ _| |_ ___  (_) ___
| |/ _` | '_ \ / _ \| '__/ _` | __/ _ \ | |/ _ \
| | (_| | |_) | (_) | | | (_| | ||  __/_| | (_) |
|_|\__,_|_.__/ \___/|_|  \__,_|\__\___(_)_|\___/
-->
<%
    title = (title) ? (title + site_delimeter + site_title) : site_title;
    random = (!production) ? ("?rand=" + config.random) : "";
%>
<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" lang="en">
    <head>
        <!-- Base Meta Tags -->
        <title><%= title %></title>
        <meta name="description" content="Collaborative software development made easy! Upload files manually, from Github repositories or SFTP Servers in seconds and start editing in realtime with your team.">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">

        <!-- Open Graph Meta Tags -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="<%= host %>">
        <meta property="og:image" content="<%= host %>/favicon/196.png<%= random %>">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:description" content="Collaborative software development made easy! Upload files manually, from Github repositories or SFTP Servers in seconds and start editing in realtime with your team.">

        <!-- Google Webmaster Meta Tags -->
        <meta name="google-site-verification" content="<%= google_verification %>" />

        <!-- Robot Meta Tags -->
        <meta name="revisit-after" content="5 days">
        <meta name="distribution" content="web">

        <% if(private) { %>
            <meta name="robots" content="noindex">
        <% } else { %>
            <meta name="robots" content="index, follow">
        <% } %>

        <!-- Favicon ICO -->
        <link rel="shortcut icon" href="/favicon/icon.ico<%= random %>" />
        <!-- Standard Favicon -->
        <link rel="icon" type="image/png" href="/favicon/196.png<%= random %>" />
        <!-- Opera Speed Dial Favicon -->
        <link rel="icon" type="image/png" href="/favicon/160.png<%= random %>" />
        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/114.png<%= random %>">
        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/72.png<%= random %>">
        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="/favicon/57.png<%= random %>">


        <!-- CSS -->
        <%- css %>

        <!-- Site Config -->
        <script type="text/javascript">
            window.config = {
                host: "<%= host %>",
                csrf: "<%= csrf %>",
                port: "<%= port %>",
                title: "<%= title %>",
                name: "<%= site_title %>",
                delimeter: "<%= site_delimeter %>",
                apps: <%- JSON.stringify(apps) %>,

                <% $.each(config, function(key, value) { %>
                    <% if(typeof value == "boolean") { %>
                        <%= key %>: <%- value %>,
                    <% } else if(typeof value == "object") { %>
                        <%= key %>: <%- JSON.stringify(value) %>,
                    <% } else if(typeof value == "number") { %>
                        <%= key %>: <%= value %>,
                    <% } else  { %>
                        <%= key %>: "<%= value %>",
                    <% } %>
                <% }); %>
            }
        </script>

        <!-- Javascript -->
        <%- js %>

        <!-- Raven Exception Handling -->
        <script type="text/javascript">
            Raven.config("<%= sentry %>").install();
            window.onerror = Raven.process;
        </script>
    </head>
    <body>
