<!--
<% include ./printout.html %>
-->
<%
    if(title_first) {
        title = (title) ? (title + site_delimeter + site_title) : site_title;
    } else {
        title = (title) ? (site_title + site_delimeter + title) : site_title;
    }

    random = (!production) ? ("?rand=" + random) : "";
%>
<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" lang="en">
    <head>
        <!-- Base Meta Tags -->
        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">

        <!-- Open Graph Meta Tags -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="<%= host %>">
        <meta property="og:image" content="<%= favicons["196"] + random %>">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:description" content="<%= description %>">
        <meta property="og:site_name" content="<%= site_title %>"/>

        <!-- Google Webmaster Meta Tags -->
        <meta name="google-site-verification" content="<%= google_verification %>" />

        <!-- Robot Meta Tags -->
        <meta name="robots" content="INDEX, FOLLOW">
        <meta name="revisit-after" content="1 day">
        <meta name="distribution" content="web">

        <% if(private) { %>
            <meta name="robots" content="noindex">
        <% } else { %>
            <meta name="robots" content="index, follow">
        <% } %>

        <!-- Favicon ICO -->
        <link rel="shortcut icon" href="<%= favicons["ico"] + random %>" />
        <!-- Standard Favicon -->
        <link rel="icon" type="image/png" href="<%= favicons["196"] + random %>" />
        <!-- Opera Speed Dial Favicon -->
        <link rel="icon" type="image/png" href="<%= favicons["160"] + random %>" />
        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= favicons["114"] + random %>">
        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= favicons["72"] + random %>">
        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="<%= favicons["57"] + random %>">

        <!-- CSS -->
        <%- css %>

        <!-- Site Config -->
        <script type="text/javascript">
            window.config = {
                csrf: "<%= csrf %>",
                host: "<%= host %>",
                port: "<%= port %>",
                socket: "<%= socket %>",
                title: "<%= title %>",
                name: "<%= site_title %>",
                delimeter: "<%= site_delimeter %>",
                pageTrack: <%= pageTrack %>,
                gravatar: "<%= gravatar %>",
                apps: <%- JSON.stringify(apps) %>,
                icons: <%- JSON.stringify(icons) %>,

                <% $.each(config, function(key, value) { %>
                    <% if(typeof value == "boolean") { %>
                        <%= key %>: <%- value %>,
                    <% } else if(typeof value == "object") { %>
                        <%= key %>: <%- JSON.stringify(value) %>,
                    <% } else if(typeof value == "number") { %>
                        <%= key %>: <%= value %>,
                    <% } else  { %>
                        <%= key %>: "<%= value %>",
                    <% } %>
                <% }); %>
            }
        </script>

        <!-- Javascript -->
        <%- js %>

        <!-- Raven Exception Handling -->
        <script type="text/javascript">
            Raven.config("<%= sentry %>").install();
            window.onerror = Raven.process;

            <% if(production && hiring) { %>
                $(function() {
                    console.log($("#printout").text());
                });
            <% } %>
        </script>
    </head>
    <body class="<%= (organization.id) ? "organization" : "" %> <%= (mobile) ? "mobile" : "" %>">
        <% if(production && hiring) { %>
            <div id="printout" class="hidden"><% include ./printout.html %></div>
        <% } %>
