<div id="header">
    <a href="/documents/" id="logo">code-laborate</a>
    <div id="header_document_info">
        <% if(mode == "editor") { %>
            <div id="document_title" class="hover" onclick="window.sidebarUtil.change('settings', 'documentTitle');"><%= navigation %></div>
            <div id="document_contributors"></div>
            <div id="contributor_info">
                <div id="contributor_info_arrow"></div>
                <div id="contributor_info_name"></div>
            </div>
        <% } else { %>
            <div id="document_title"><%= navigation %></div>
        <% } %>
    </div>
    <div id="header_navigation">
        <div><a href="/logout/">Sign Out</a></div>
        <div><a href="/documents/">Documents</a></div>
        <div><a href="/account/">Account</a></div>
    </div>
    <div class="clear"></div>
</div>
<div id="tshadow"></div>
