| | __ _| |__   ___  _ __ __ _| |_ ___  (_) ___
| |/ _` | '_ \ / _ \| '__/ _` | __/ _ \ | |/ _ \
| | (_| | |_) | (_) | | | (_| | ||  __/_| | (_) |
|_|\__,_|_.__/ \___/|_|  \__,_|\__\___(_)_|\___/

Hi curious laborator, nice to meet you!
<% if(production && hiring) { %>
Interested in joining a small startup? Join Laborate, and
become part of a community that’s helping to build a brighter
future for the world through better education tools.

email us at support@laborate.io with the following:

    1) Subject: "Hacker Job Application - < your name >"
    2) Use the email that is register with laborate
    3) Why you are interested in joining
        - besides the fact that we are a startup
    4) Any work or accomplishments you have done/made
        - dropbox or box links are fine for images and videos
    5) Where you are located, right now we only accept applicants
       in the Silicon Valley.
    6) Suggestions for site improvement (design, security, code quality, etc)
<% } else { %>
Send us an email at support@laborate.io so we can chat about your experience on laborate.
At laborate, we think all feedback is good feedback!
<% } %>
