# User Authentication On Dev Site
#AuthName "Secure Area"
#AuthType Basic
#AuthUserFile /home/brian/.htpasswd
#require valid-user

# GZIP All HTTP Responses
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

# Url Rewrites
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.php
RewriteRule (.*)\.php$ /$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.php/
RewriteRule (.*)\.php/$ /$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.html
RewriteRule (.*)\.html$ /$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.html/
RewriteRule (.*)\.html/$ /$1 [L,R=301]

# Set All Code To UTF-8
AddDefaultCharset utf-8

# Apache Error Code Handling
ErrorDocument 204 /errors/base.php
ErrorDocument 400 /errors/base.php
ErrorDocument 403 /errors/base.php
ErrorDocument 404 /errors/notfound.php
ErrorDocument 406 /errors/base.php
ErrorDocument 408 /errors/base.php
ErrorDocument 410 /errors/base.php
ErrorDocument 412 /errors/base.php
ErrorDocument 413 /errors/base.php
ErrorDocument 414 /errors/base.php
ErrorDocument 500 /errors/base.html
ErrorDocument 501 /errors/base.html
ErrorDocument 502 /errors/base.html
ErrorDocument 503 /errors/base.html
ErrorDocument 504 /errors/base.html
ErrorDocument 505 /errors/base.html