<% if(!user.fake) { %>
    <div class="filter groups">
        <div class="header">
            Groups <a href="/groups/add/" class="right <%= icons.add %>"></a>
        </div>
        <div class="options">
            <% $.each(user.groups, function(index, group) { %>
                <div class="option" data-id="<%= group.pub_id %>">
                    <div class="icon <%= icons.groups %>"></div>
                    <div class="name"><%= group.name %></div>
                </div>
            <% }); %>
        </div>
    </div>
<% } %>
