<% if(!user.fake) { %>
    <div class="filter groups">
        <div class="header">
            Groups <a href="/groups/add/" class="right <%= icons.add_circle_full %>"></a>
        </div>
        <div class="options">
            <% $.each(user.groups, function(index, group) { %>
                <% if(!(group.private && group.owner_id != user.id)) { %>
                    <div class="option" data-id="<%= group.pub_id %>">
                        <div class="icon <%= icons.groups %>"></div>
                        <div class="name"><%= group.name %></div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </div>
<% } %>
