<div class="filter groups">
    <div class="header">Groups</div>
    <div class="options">
        <div class="option">
            <div class="gravatar left">
                <img src="<%= user.gravatar %>"/>
            </div>
            <div class="name left">Friends</div>
        </div>
        <div class="option">
            <div class="gravatar left">
                <img src="<%= user.gravatar %>"/>
            </div>
            <div class="name left">Writing 2</div>
        </div>
        <div class="option">
            <div class="gravatar left">
                <img src="<%= user.gravatar %>"/>
            </div>
            <div class="name left">Math 19A</div>
        </div>
    </div>
</div>
