<div class="filter tags">
    <div class="header">Tags</div>
    <div class="form">
        <form>
            <input class="input" type="text" placeholder="search for a tag..." />
        </form>
    </div>
    <div class="tags">
        <div class="tag">
            <div class="name left">node</div>
            <div class="remove right <%= icons.add %>"></div>
        </div>
        <div class="tag">
            <div class="name left">php</div>
            <div class="remove right <%= icons.add %>"></div>
        </div>
        <div class="tag">
            <div class="name left">mysql</div>
            <div class="remove right <%= icons.add %>"></div>
        </div>
        <div class="tag">
            <div class="name left">relational databases</div>
            <div class="remove right <%= icons.add %>"></div>
        </div>
    </div>
</div>
