<% include ../../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container">
            <% if(attempted) { %>
                <div id="backdrop-header" class="error">You Must Be Logged In</div>
            <% } %>
            <div class="text-center">
                <div id="backdrop-profile">
                    <img src="<%= gravatar %>"/>
                </div>
            </div>
            <form action="/auth/login/" autocomplete="on">
                <input name="name" type="text" id="backdrop-email" class="backdrop-input" placeholder="email or screen name" autofocus="on"/>
                <input name="password" type="password" class="backdrop-input" placeholder="password" />
                <input type="submit" class="backdrop-button" value="Login"/>
            </form>
         </div>
         <div class="backdrop-bottom">
            <% if(organization.register) { %>
                Want an account? <a class="backdrop-link" href="/register/">Register</a>
            <% } else if(organization.id && organization.reset) { %>
                Forgot your password? <a class="backdrop-link" href="<%= organization.reset || "/reset/" %>">Reset</a>
            <% } %>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <% if(organization.register) { %>
                <li><a href="<%=  organization.reset || "/reset/" %>">Forgot your password?</a></li>
            <% } %>
            <% include ../../includes/backdrop_footer.html %>
        </ul>
    </div>
</div>
<% include ../../includes/end.html %>
