<% include ../../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
        <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
        <div id="backdrop-container">
            <% if(attempted) { %>
                <div id="backdrop-header" class="error">You Must Be Logged In</div>
            <% } %>
            <div class="text-center">
                <div id="backdrop-profile">
                    <img src="<%= user.gravatar %>"/>
                </div>
            </div>
            <form action="/auth/login/" autocomplete="on">
                <div class="backdrop-text"><%= user.name %></div>
                <input name="name" class="backdrop-input" type="hidden" value="<%= user.screen_name %>"/>
                <input name="password" type="password" class="backdrop-input" placeholder="password" autofocus="on"/>
                <input type="submit" class="backdrop-button" value="Login"/>
            </form>
        </div>
        <div class="backdrop-bottom">
            Forgot your password? <a class="backdrop-link" href="<%= organization.reset || "/reset/" %>">Reset</a>
        </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <% include ../../includes/backdrop_end.html %>
        </ul>
    </div>
</div>
<% include ../../includes/end.html %>
