<div class="bottom">
    <div class="actions">
        <%
            var liked = false;
            $.each(post.likes, function(index, laborator) {
                if(user.id == laborator.id) {
                    liked = true;
                    return false;
                }
            });
        %>
        <% if(liked) { %>
            <span class="action like" data-like="true" data-count="<%= post.likes.length %>">
                Unlike
                <% if(!post.likes.empty) { %>
                    <strong>(<%= post.likes.length %>)</strong>
                <% } %>
            </span>
        <% } else { %>
            <span class="action like" data-like="false" data-count="<%= post.likes.length %>">
                Like
                <% if(!post.likes.empty) { %>
                    <strong>(<%= post.likes.length %>)</strong>
                <% } %>
            </span>
        <% } %>
        <span><%= site_delimeter %></span>
        <span class="action comment" data-count="<%= post.children.length %>">
            Comment
            <% if(!post.children.empty) { %>
                <strong>(<%= post.children.length %>)</strong>
            <% } %>
        </span>
        <span><%= site_delimeter %></span>
        <span class="action share">Share</span>
    </div>
    <div class="time"><%=: post.created | duration %></div>
</div>
