<div class="more">
    <a href="#">View all comments...</a>
</div>
<div class="replies">
    <div class="reply">
        <div class="gravatar left">
            <img src="<%= user.gravatar %>"/>
        </div>
        <div class="data right">
            <a class="name" href="/users/<%= user.screen_name %>/">
                <%= user.screen_name %>
            </a>
            <div class="information">what?</div>
            <div class="bottom">
                <div class="actions">
                    <span class="action like">Like</span>
                    <span><%= site_delimeter %></span>
                    <span class="action mention">Mention</span>
                </div>
                <div class="time">4 minutes ago</div>
            </div>
        </div>
    </div>
    <div class="reply">
        <div class="gravatar left">
            <img src="<%= user.gravatar %>"/>
        </div>
        <div class="data right">
            <a class="name" href="/users/<%= user.screen_name %>/">
                <%= user.screen_name %>
            </a>
            <div class="information">what?</div>
            <div class="bottom">
                <div class="actions">
                    <span class="action like">Like</span>
                    <span><%= site_delimeter %></span>
                    <span class="action mention">Mention</span>
                </div>
                <div class="time">4 minutes ago</div>
            </div>
        </div>
    </div>
</div>
