<div id="post_<%= child.pub_id %>"
     data-id="<%= child.pub_id %>"
     data-from="<%= child.owner.screen_name %>"
     class="reply"
>
    <div class="gravatar left">
        <img src="<%= child.owner.gravatar %>"/>
    </div>
    <div class="data right">
        <a class="name" href="/users/<%= child.owner.screen_name %>/">
            <%= child.owner.name %>
        </a>
        <div class="information"><%- child.content %></div>
        <div class="bottom">
            <div class="actions">
                <%
                    var liked = false;
                    $.each(child.likes, function(index, laborator) {
                        if(user.id == laborator.id) {
                            liked = true;
                            return false;
                        }
                    });
                %>
                <% if(liked) { %>
                    <span class="action reply-like" data-like="true" data-count="<%= child.likes.length %>">
                        Unlike
                        <% if(!child.likes.empty) { %>
                            <strong>(<%= child.likes.length %>)</strong>
                        <% } %>
                    </span>
                <% } else { %>
                    <span class="action reply-like" data-like="false" data-count="<%= child.likes.length %>">
                        Like
                        <% if(!child.likes.empty) { %>
                            <strong>(<%= child.likes.length %>)</strong>
                        <% } %>
                    </span>
                <% } %>
                <span><%= site_delimeter %></span>
                <span class="action mention">Mention</span>
            </div>
            <div class="time"><%=: child.created | duration %></div>
        </div>
    </div>
</div>
