@import '../compless/all';

#backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    color: #fff;
    background: #4c5e93;
}

#backdrop-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100001;
    top: 0;
    left: 0;
    background-repeat: none;
    background-size: cover;
}

#backdrop-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100002;
    .linear-gradient(0deg, rgba(0,0,0,0.80), rgba(0,0,0,0.15));
}

#backdrop-core {
    z-index: 100002;
    display: none;
}

#backdrop-logo {
    font-family: "Not Just Groovy";
    font-size: 26px;
    text-align: center;
}

#backdrop-container {
    width: 200px;
    padding: 20px;
    margin: auto;
    border: solid 1px #2c3f50;
    .border-radius(5px);
    .linear-gradient(0deg, #34495e, #374f68);
    .box-shadow(0 2px 4px rgba(0,0,0,0.75));
}

#backdrop-container.larger {
    width: 250px;
}

#backdrop-profile {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    outline: none;
    border: solid 4px #3b5d7b;
    .border-radius(50%);
}

.backdrop-link {
    color: #00bbff;
    text-decoration: none;
}

.backdrop-link:hover {
    text-decoration: underline;
}

.backdrop-link:hover:active {
    color: #00a2dd;
    text-decoration: underline;
}

.backdrop-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.backdrop-input {
    width: 100%;
    border: solid 1px #364d62;
    .border-radius(4px);
    padding: 8px 10px;
    background-color: #fff;
    background-image: url('/img/tshadow.png');
    background-repeat: repeat-x;
    background-position: 0 -1px;
    font-size: 14px;
    margin-bottom: 10px;
}

.backdrop-input.error {
    background-color: #fce5e5;
}

.backdrop-button {
    width: 100%;
    background: #0c7bba;
    border: solid 1px #364d62;
    padding: 7px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    .border-radius(4px);
    cursor: pointer;
}

.backdrop-button:hover {
    background: #0a71ac;
}

.backdrop-button:hover:active {
    background: #0b689d;
}

.backdrop-button.error {
    background: #ef5454;
}

.backdrop-button.error:hover {
    background: #ed4747;
}

.backdrop-button.error:hover:active {
    background: #ed3b3b;
}

.backdrop-bottom {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
