@import '../core/index';
@import '../compless/all';

#backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    color: #fff;
    background: @color_backdrop;
}

#backdrop-img {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100001;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    .transform(blur(2px));
}

#backdrop-gradient {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100002;
    .linear-gradient(0deg, rgba(0, 0, 0, .80), rgba(0, 0, 0, .15));
}

#backdrop-core {
    z-index: 100002;
    display: none;
}

#backdrop-logo {
    font-family: "Not Just Groovy";
    font-size: 26px;
    text-align: center;
}

#backdrop-container {
    width: 200px;
    padding: 20px;
    margin: auto;
    border: solid 1px solid 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    .border-radius(5px);
    .linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .2));
    .box-shadow(0 1px 10px rgba(0, 0, 0, .2));
}

#backdrop-header {
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    margin: -20px -20px 20px -20px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;

    span {
        color: lighten(@color_blue, 15%);
        font-weight: normal;
    }
}

#backdrop-container.larger {
    width: 250px;
}

#backdrop-container.largerTwo {
    width: 350px;
}

#backdrop-container.largest {
    width: 500px;
}

#backdrop-profile {
    width: 75px;
    height: 75px;
    margin: 0 auto 10px auto;
    outline: none;
    overflow: hidden;
    border: solid 4px rgba(0, 0, 0, .10);
    background: rgba(0, 0, 0, .1);
    .border-radius(50%);
}

#backdrop-profile img {
    width: 75px;
    height: 75px;
}

.backdrop-link {
    color: @color_backdrop_link;
    text-decoration: none;
}

.backdrop-link:hover {
    text-decoration: underline;
}

.backdrop-link:hover:active {
    color: darken(@color_backdrop_link, 5%);
    text-decoration: underline;
}

.backdrop-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
    .ellipsis();
}

.backdrop-input,
.backdrop-textarea {
    width: 100%;
    border: none;
    padding: 8px 10px;
    background-color: #fff;
    background-image: url('/img/tshadow.png');
    background-repeat: repeat-x;
    background-position: 0 -2px;
    font-size: 14px;
    margin-bottom: 10px;
    .border-radius(3px);
}

.backdrop-input.error,
.backdrop-textarea.error  {
    background-color: @color_backdrop_input_error;
}

.backdrop-textarea {
    font-size: 12px;
    min-height: 60px;
    resize: vertical;
}

.backdrop-button {
    width: 100%;
    background: @color_backdrop_button;
    border: none;
    padding: 7px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    .border-radius(3px);
}

.backdrop-button:hover {
    background: darken(@color_backdrop_button, 2%);
}

.backdrop-button:hover:active {
    background: darken(@color_backdrop_button, 5%);
}

.backdrop-button.error {
    background-color: @color_backdrop_button_error;
}

.backdrop-button.error:hover {
    background-color: darken(@color_backdrop_button_error, 2%);
}

.backdrop-button.error:hover:active {
    background-color: darken(@color_backdrop_button_error, 5%);
}

.backdrop-bottom {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

#backdrop-footer {
    display: none;
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 100002;

    ul {
        margin: 0;
        padding: 0;
        outline: 0;
        display: inline;
        list-style: disc;

        li {
            margin: 0 13px;
            float: left;

            &:first-child {
                margin-left: 0;
                list-style: none;
            }

            &:last-child {
                margin-right: 0;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.organization {
    #backdrop-img {
        opacity: .6;
    }

    #backdrop-gradient {
        .linear-gradient(0deg, rgba(0, 0, 0, .70), rgba(0, 0, 0, .1));
    }


    #backdrop-container {
        .linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .4));
    }
}

.noCenter {
    #backdrop-core {
        top: 40px;
    }

    #backdrop-container {
        margin-bottom: 40px;
    }
}


.feedback {
    #backdrop-footer {
        display: none !important;
    }

    #backdrop-gradient,
    #backdrop-img {
        position: fixed !important;
    }

    #backdrop-container {
        .backdrop-text {
            text-align: left;
        }

        .backdrop-input,
        .backdrop-textarea {
            width: 250px;
        }

        .backdrop-spacer {
            margin-left: 10px;
        }
    }
}
