<% include includes/header.html %>
<% include includes/navigation.html %>
<div id="navigation">
    <div id="navigation_header">
        <div id="navigation_header_gravatar">
            <a href="http://gravatar.com/emails/" target="_blank">
                <img src="https://www.gravatar.com/avatar/<%= user.email_hash %>?s=30&d=http%3A%2F%2F<%= host %>%2Fimg%2Fdefault_gravatar.jpeg" width="30px" height="30px">
            </a>
        </div>
        <div id="navigation_header_screen_name"><%= user.screen_name %></div>
        <div class="clear"></div>
    </div>
    <% if(user.pricing_documents != 0) { %>
    <div id="navigation_password_left">
        <div id="navigation_password_header" class="left">PRIVATE DOCUMENTS</div>
        <div id="navigation_password_header_light" class="right">
            <% if(user.pricing_documents) { %>
                <%= pass_sessions_count + " of " + user.pricing_documents %>
            <% } else { %>
                <%= pass_sessions_count %>
            <% } %>
        </div>
        <div class="clear"></div>
    </div>
    <% } %>
    <ul>
        <li id="profile">Profile</li>
        <li id="account">Account Settings</li>
        <li id="emails">Emails</li>
        <li id="notifications">Notification Center</li>
        <li id="billing">Billing Options</li>
        <li id="payments">Payment History</li>
    </ul>
</div>
<div id="setting_pane">
    <div class="notification"></div>

    <div id="settings_profile" class="settings">
        <div class="settings_header">Public Profile</div>
        <div class="settings_content">
            <% if(user.github) { %>
                <a class="button red" href="/account/github_remove_token/">Deauthorize With Github</a>
            <% } else { %>
                <a class="button green" href="<%= github_auth_url %>">Authorize With Github</a>
            <% } %>
        </div>
    </div>
    <div id="settings_account" class="settings">
        <div class="settings_header">Account Settings</div>
        <div class="settings_content"></div>
    </div>
    <div id="settings_emails" class="settings">
        <div class="settings_header">Emails</div>
        <div class="settings_content"></div>
    </div>
    <div id="settings_notifications" class="settings">
        <div class="settings_header">Notification Center</div>
        <div class="settings_content"></div>
    </div>
    <div id="settings_billing" class="settings">
        <div class="settings_header">Billing Options</div>
        <div class="settings_content"></div>
    </div>
    <div id="settings_payments" class="settings">
        <div class="settings_header">Payment History</div>
        <div class="settings_content"></div>
    </div>
</div>
<% include includes/footer.html %>