<% include includes/header.html %>
<% include includes/navigation.html %>
<div id="navigation">
    <div id="navigation_header">
        <div id="navigation_header_gravatar">
            <a href="http://gravatar.com/emails/" target="_blank">
                <img src="https://www.gravatar.com/avatar/<%= user.email_hash %>?s=30&d=http%3A%2F%2F<%= host %>%2Fimg%2Fdefault_gravatar.jpeg" width="30px" height="30px">
            </a>
        </div>
        <div id="navigation_header_screen_name"><%= user.screen_name %></div>
        <div class="clear"></div>
    </div>
    <% if(user.pricing_documents != 0) { %>
    <div id="navigation_password_left">
        <div id="navigation_password_header" class="left">PRIVATE DOCUMENTS</div>
        <div id="navigation_password_header_light" class="right">
            <% if(user.pricing_documents) { %>
                2 of <%= user.pricing_documents %>
            <% } else { %>
                2
            <% } %>
        </div>
        <div class="clear"></div>
    </div>
    <% } %>
    <ul>
        <li id="profile">Public Profile</li>
        <li id="account">Account Settings</li>
        <li id="github">Github Locations</li>
        <li id="sftp">SFTP Locations</li>
        <li id="billing">Billing Options</li>
        <li id="payments">Payment History</li>
    </ul>
</div>
<div id="setting_pane">
    <div class="notification"></div>

    <div id="settings_profile" class="settings">
        <div class="settings_header">Public Profile</div>
        <div class="settings_content">
            asdfasdfasdf
        </div>
    </div>

    <div id="settings_github" class="settings">
        <div class="settings_header">
            <div class="left">Github Repositories</div>
            <% if(user.github) { %>
                <a class="button red right" href="/php/locations/github_remove_token.php">Deauthorize With Github</a>
            <% } else { %>
                <a class="button green right" href="<?php echo $_SESSION['github_auth_url']; ?>">Authorize With Github</a>
            <% } %>
            <div class="clear"></div>
        </div>
        <div class="settings_content">
            <ul class="table"></ul>
            <div id="need_github_login" class="hidden">
                <div class="icon_big icon-github"></div>
                <div class="bold">You Need To Be Authorized<br>With Github To View You Repositories</div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.html %>