<% include includes/header.html %>
<% include includes/navigation.html %>
<div id="locations">
    <div id="locations_header">
        <div class="left">Locations</div>
        <button id="remove_location" class="location_button right">-</button>
        <button id="add_location" class="location_button right">+</button>
        <button id="finished_remove_location" class="location_button hidden right">finished</button>
        <div class="clear"></div>
    </div>
    <ul>
        <li id="online"><span class="icon icon-briefcase"></span>Online Files</li>
    </ul>
</div>
<div id="files">
    <div class="notification"></div>
    <div id="location_online" class="location">
        <form class="file_search">
            <input type="text" class="input left search_input" autocomplete="off" name="s" placeholder="Search For Files"/>
            <select name="p" class="select left">
                <option value="">Protection</option>
                <option value="o">Protection: Open</option>
                <option value="p">Protection: Password</option>
            </select>
            <select name="r" class="select left">
                <option value="">Relation</option>
                <option value="o">Relation: Owner</option>
                <option value="e">Relation: Editor</option>
                            </select>
            <input type="submit" class="button blue left search_submit" value="Search" />
            <input type="button" class="button red search_submit" id="clearSearch" value="Clear" />
            <a href="/editor/" class="button green right">New File</a>
            <div class="clear"></div>
        </form>
        <div id="file_library"></div>
        <div class="notFound">Sorry, no documents were found.</div>
        <div class="clear"></div>
    </div>
    <div id="location_template" class="location">
        <form class="file_search">
            <input type="text" class="input left search_input_full" name="s" autocomplete="off" placeholder="Search For Files"/>
            <input type="submit" class="button blue left search_submit" value="Search" />
            <input type="button" class="button red search_submit" id="clearSearch" value="Clear" />
            <button class="button green right newFile">New File</button>
            <div class="clear"></div>
        </form>
        <div id="file_library"></div>
        <div class="clear"></div>
    </div>
</div>
<% include includes/mouseMenu.html %>
<% include includes/popUp.html %>
<% include includes/footer.html %>
