<% include includes/header.html %>
<% include includes/navigation.html %>
<div id="locations">
    <div id="locations_header">
        <div class="left">Locations</div>
        <button id="remove_location" class="location_button right">-</button>
        <!-- Remove When SFTP Wrapper Is Made -->
        <% if(user.github) { %>
            <button id="add_location" class="location_button right">+</button>
        <% } else { %>
            <button id="add_location" class="location_button disabled right">+</button>
        <% } %>
        <button id="finished_remove_location" class="location_button hidden right">finished</button>
        <div class="clear"></div>
    </div>
    <ul>
        <li id="online"><span class="icon icon-briefcase"></span>Your Documents</li>
    </ul>
</div>
<div id="files">
    <div class="notification"></div>
    <div id="location_template">
        <form class="file_search">
            <input type="text" class="input left search_input_full" name="s" autocomplete="off" placeholder="Search For Files"/>
            <input type="submit" class="button blue left search_submit" value="Search" />
            <input type="button" class="button red search_submit" id="clearSearch" value="Clear" />
            <button class="button green right" id="newFile">New File</button>
            <div class="clear"></div>
        </form>
        <div id="file_library"></div>
        <div class="notFound">Sorry, no files were found.</div>
        <div class="clear"></div>
    </div>
</div>
<div id="menu">
    <ul>
        <li id="new">New File</li>
        <li id="tab">Open In Tab</li>
    </ul>
    <ul>
        <li id="rename">Rename</li>
        <li id="action"></li>
    </ul>
    <ul>
        <li id="share">Share Url</li>
    </ul>
</div>
<div id="popup" class="hidden">
    <div id="popup_header">
        <div id="popup_header_name" class="left"></div>
        <div id="popup_header_exit" class="right">X</div>
        <div class="clear"></div>
    </div>
    <div class="presets" id="location_add">
        <form>
            <table width="100%" cellpadding="0px" cellspacing="0px">
                <tr>
                    <td width="85">Name:</td>
                    <td><input autocomplete="off" type="text" class="input full" id="popup_location_name" name="location_name" placeholder="Dev Site"/></td>
                </tr>
                <!-- Remove When SFTP Wrapper Is Made
                <% if(user.github) { %>
                    <tr>
                        <td width="85">Type:</td>
                        <td>
                            <select id="popup_location_type" class="select full">
                                <option value="sftp">SFTP</option>
                                <option value="github">Github Repository</option>
                            </select>
                        </td>
                    </tr>
                <% } else { %>
                    <input type="hidden" id="popup_location_type" value="sftp" />
                <% } %>
                -->
                <input type="hidden" id="popup_location_type" value="github" />
            </table>
            <!-- Remove When SFTP Wrapper Is Made
            <div id="popup_location_sftp" class="selection">
                <table width="100%" cellpadding="0px" cellspacing="0px">
                    <tr>
                        <td width="85">Server:</td>
                        <td><input autocomplete="off" type="text" class="input full" id="popup_location_server" name="host" placeholder="192.168.1.1"/></td>
                    </tr>
                    <tr>
                        <td width="85">Folder:</td>
                        <td><input autocomplete="off" type="text" class="input full" id="popup_location_default" name="default" placeholder="/var/www/"/></td>
                    </tr>
                    <tr>
                        <td width="85">Username:</td>
                        <td><input autocomplete="off" type="text" class="input full" id="popup_location_username" name="username" placeholder="john"/></td>
                    </tr>
                    <tr>
                        <td width="85">Password:</td>
                        <td><input autocomplete="off" type="password" class="input full" id="popup_location_user_password" name="password" placeholder=""/></td>
                    </tr>
                </table>
            </div>
            -->
            <% //if(user.github) { %>
                <div id="popup_location_github" class="hidden selection scroll">
                    <center id="github_empty" class="hidden" style="margin-top: 50px; color:red;">
                        <strong>You Do Not Have<br>Any Github Repositories</strong>
                    </center>
                </div>
            <% //} %>
            <input type="submit" class="button blue full" value="Add Location" />
        </form>
    </div>
    <div class="presets" id="location_remove">
        <input type="button" class="button blue full" value="Yes, I am sure" />
    </div>
    <div class="presets" id="share_url">
        <input type="text" class="input full"/>
    </div>
    <div class="presets" id="new_file">
        <form>
            <input type="text" class="input full selection" placeholder="untitled.js" autofocus/>
            <input type="submit" class="button blue full" value="Create Document" />
        </form>
    </div>
    <div class="presets" id="rename">
        <form>
            <input type="text" class="input full selection"/>
            <input type="submit" class="button blue full" value="Rename Document" autofocus/>
        </form>
    </div>
    <div class="presets" id="photo_preview">
        <a href="" id="image_preview_download"><div class="icon-download-2"></div></a>
        <img id="image_preview" src="" width="300px">
    </div>
</div>
<div id="popup_backdrop" class="hidden"></div>
<% include includes/footer.html %>
