<% include includes/header.html %>
<% include includes/navigation.html %>
<div id="backdrop">
    <div id="backdropCore">
        <a href="/"><div id="backdropLogo">code-laborate</div></a>
        <div id="backdropInital">
            <div class="backdropContainer">
                <div class="backdropInitalWelcome seperatorRequired"><%= document.name %></div>
                <% if(document.password) { %>
                    <div class="seperatorRequired">
                        <form action="/editor/<%= document.id %>/join/">
                            <input type="password" autofocus="on" name="password" placeholder="Password"/>
                            <input type="submit" class="backdropButton button full blue" value="Join Document"/>
                        </form>
                    </div>
                    <div class="backdropInitalWelcome" style="font-size: 14px;">
                        <% if(document.owner_id == user.id) { %>
                            Forgot the password? <a href="mailto:support@laborate.io?subject=Document #<%= document.id %>'s Password?<%= site_delimeter + site_title %>&body=Dear Support Team, %0D%0AI am <%= user.name %> and was wondering if you could reset document #<%= document.id %>'s password?">Email</a> support.
                        <% } else { %>
                            Forgot the password? <a href="mailto:<%= user.email %>?subject=Document #<%= document.id %>'s Password?<%= site_delimeter + site_title %>&body=Hey <%= document.owner.name %>,%0D%0AI am <%= user.name %> and was wondering if you knew document #<%= document.id %>'s password?">Email</a> the owner.
                        <% } %>
                    </div>
                <% } else { %>
                    <div>
                        <form action="/editor/<%= document.id %>/join/">
                            <input type="hidden" name="password"/>
                            <div id="loadingProgressG">
                                <div id="loadingProgressG_1" class="loadingProgressG"></div>
                            </div>
                        </form>
                    </div>
                <% } %>
            </div>
            <div class="textError" style="margin-top: 10px; text-align: center; color:#CC352D;"></div>
        </div>
    </div>
</div>
<div class="notification"></div>
<div id="sidebar">
    <div id="sidebar_header">
        <img id="document" src="/img/document.png"/>
        <img id="find" src="/img/find.png"/>
        <img id="share" class="default" src="/img/share.png"/>
        <img id="download" src="/img/download.png"/>
        <img id="settings" src="/img/settings.png"/>
    </div>
    <div id="sidebar_content">
        <div id="sidebar_document" class="sidebar_content_inner">
            <div>
                <div class="header">Document History</div>
                <input id="document_undo" type="button" value="Undo" class="button blue pull_left"/>
                <input id="document_redo" type="button" value="Redo" class="button blue pull_right"/>
                <div class="clear"></div>
            </div>
            <hr/>
            <div>
                <input id="document_format" type="button" value="Auto Format Document" class="button blue full"/>
            </div>
        </div>
        <div id="sidebar_find" class="sidebar_content_inner">
        	<div>
                <div class="header">Jump To A Line</div>
                <form id="lineNumberJumpForm">
                    <input id="lineNumberJump" class="left input" style="width:120px;" type="text" placeholder="5" spellcheck="false"/>
                    <input type="submit" class="button blue right" id="lineNumberJumpGo" value="Jump">
                    <div class="clear"></div>
                </form>
             </div>
             <hr/>
             <div>
                <div class="header">Line Number (s)</div>
                <form id="lineNumberForm">
                    <input id="lineNumber" class="left input" style="width:120px;" type="text" placeholder="1, 15-40, 55" spellcheck="false"/>
                    <input type="submit" class="button blue right" id="lineNumberGo" value="Find">
                    <div class="clear"></div>
                </form>
                <div id="lineNumberList" style="margin-top:15px;"></div>
            </div>
            <hr/>
            <div>
                <div class="header">Find Words</div>
                <form id="findWordsForm">
                    <input id="findWords" type="text"  class="left input" style="width:120px;"  placeholder="function()" spellcheck="false"/>
                    <input type="submit" class="button blue right" id="findWordsGo" value="Find">
                    <div class="clear"></div>
                </form>
                <div id="findList" style="margin-top:15px;"></div>
            </div>
        </div>
        <div id="sidebar_share" class="sidebar_content_inner">
            <form id="email_share">
                <div>
                   <div class="header">Email Address(s)</div>
                   <div class="header left" style="color: #666; font-size: 12px;">Comma Delimiter</div>
                   <div class="header right" style="color: #888; font-size: 12px;">20 Max</div>
                   <div class="clear"></div>
                   <div><textarea id="emailAddresses" rows="1" style="height:40px;" class="input textarea" placeholder="john@doe.com, doe@jon.com"></textarea></div>
                </div>
                <div>
                   <div class="header">Additional Message</div>
                   <div><textarea id="emailMessage" spellcheck="false" class="input textarea" placeholder="Welcome to the team!"></textarea></div>
                </div>
                <input type="submit" value="Send Email" id="emailSend" class="button green full"/>
            </form>
            <hr/>
            <input type="button" value="Copy Invite Url" id="shareCopy" class="button blue full"/>
        </div>
        <div id="sidebar_download" class="sidebar_content_inner">
            <% if(document.location in document.owner.locations) { %>
                <% if(document.owner.locations[document.location].type == "github") { %>
                    <form id="commitFile">
                        <div>
                            <div class="header">Commit Message</div>
                            <div><textarea id="githubMessage" placeholder="Fixed problems with the search algorithm. ISSUE: #143" class="input textarea" style="height:60px;"></textarea></div>
                        </div>
                        <input type="submit" id="githubCommit" value="Commit File" class="button green full"/>
                    </form>
                    <hr>
                <% } else if(document.owner.locations[document.location].type == "sftp") { %>
                    <input type="button" value="Save To Server" id="saveToServer" class="button green full"/>
                    <hr>
                <% } %>
            <% } %>
            <input type="button" value="Download Document" id="downloadFile" class="button blue full"/>
            <hr>
            <input type="button" value="Print Document" id="printButton" class="button blue full"/>
        </div>
        <div id="sidebar_settings" class="sidebar_content_inner">
            <div>
                <div class="header">Document Title</div>
                <div><input id="documentTitle" type="text" placeholder="test.html" spellcheck="false" class="input"/></div>
            </div>
            <% if(document.owner_id == user.id && user.code_pricing && user.pass_documents < user.code_pricing.documents) { %>
                    <div>
                        <div class="header">Document Password</div>
                        <div><input id="documentPassword" type="password" placeholder="leave blank for no password" spellcheck="false" class="input"/></div>
                    </div>
            <% } %>
            <div>
                <div class="header">Key Mapping</div>
                <div>
                    <select id="keyMap" class="select full">
                        <option id="keyMap_default" value="default">None</option>
                        <option id="keyMap_vim" value="vim">Vim</option>
                        <option id="keyMap_emacs" value="emacs">Emacs</option>
                    </select>
                </div>
            </div>
            <div>
                <input type="button" id="settingsSave" value="Save Settings" class="button green full"/>
            </div>
            <hr/>
            <input type="button" id="removeDoc" value="<%=
                (document.owner_id == user.id) ? "Delete" : "Forget"
            %> Document" class="button red full"/>
            <div id="removeConfirm">
                <span class="a" id="removeConfirmClick">Yes</span> I am sure. <span class="a" id="actionConfirmCancel">Cancel</span>
            </div>
        </div>
    </div>
</div>
<div id="editorCodeMirror">
    <div id="full_screen" class="icon-expand-2 right"></div>
    <textarea id="code" name="code" placeholder="Code goes here..."></textarea>
</div>
<div id="chatRoom">
    <div id="chatConversation" class="scroll-pane"></div>
    <div id="chatBox">
        <textarea id="messenger" placeholder="Enter Message Here"></textarea>
    </div>
</div>
<% include includes/footer.html %>
