<!--
 %%%%%   %%%%%   %%%%%    %%%%%%  %%         %%      %%%%%      %%%%%    %%%%%        %%     %%%%%%%%%   %%%%%%
%%      %%   %%  %%   %%  %%      %%        %%%%     %%  %%    %%   %%   %%  %%      %%%%       %%%      %%
%%      %%   %%  %%   %%  %%%%%%  %%       %%  %%    %%%%%%    %%   %%   %%%%%      %%  %%      %%%      %%%%%%
%%  	%%   %%  %%   %%  %%      %%      %%%%%%%%   %%   %%   %%   %%   %%  %%    %%%%%%%%     %%%      %%
 %%%%%   %%%%%   %%%%%    %%%%%%  %%%%%  %%      %%  %%%%%%     %%%%%    %%   %%  %%      %%    %%%      %%%%%%

                                         A Brian Vallelunga Project
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Codelaborate - Servers Down</title>
    <!-- Opera Speed Dial Favicon -->
    <link rel="icon" type="image/png" href="http://resources.code.dev.laborate.io/favicon/160.png" />
    <!-- Standard Favicon -->
    <link rel="icon" type="image/png" href="http://resources.code.dev.laborate.io/favicon/16.png" />
    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://resources.code.dev.laborate.io/favicon/114.png">
    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://resources.code.dev.laborate.io/favicon/72.png">
    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/favicon/57.png">
    <link href="http://resources.code.dev.laborate.io/css/core/core.css" rel="stylesheet" type="text/css"/>
    <link href="http://resources.code.dev.laborate.io/css/backdrop/backdrop.css" rel="stylesheet" type="text/css"/>
    <script src="http://resources.code.dev.laborate.io/js/core/jquery.js" type="text/javascript"></script>
    <script src="http://resources.code.dev.laborate.io/js/core/center.js" type="text/javascript"></script>
    <script src="http://resources.code.dev.laborate.io/js/core/core.js" type="text/javascript"></script>
    <script src="http://resources.code.dev.laborate.io/js/backdrop/backdrop.js" type="text/javascript"></script>
</head>
<body>
    <div id="backdrop">
        <div id="backdropCore">
            <a href="http://code.dev.laborate.io/"><div id="backDropLogo">code-laborate</div></a>
            <!-- Start: Backdrop Error -->
            <div id="backdropInital">
                <div class="backdropContainer">
                    <div class="seperatorRequired" style="text-align: center;">
                        <img src="http://resources.code.dev.laborate.io/img/error_big.png" width="100px" height="125px"/>
                    </div>
                    <div class="backdropInitalWelcome" style="font-size: 16px;">
                        Sorry, our website is currently<br/>down. Please check back later.
                    </div>
                </div>
            </div>
            <!-- End: Backdrop Error -->
        </div>
    </div>
</body>
</html>