<% include ../../../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-core">
         <div id="backdrop-container">
            <form action="/editor/<%= document.pub_id %>/join/"></form>
         </div>
    </div>
</div>
<div class="panel main">
    <% if(header) { %>
        <div class="subheader">
            <a class="linkable logo" target="_blank" href="/">
                <img src="/img/logo.png"/>
            </a>
            <div class="filters">
                <div class="filter" data-key="file-name">
                    <span>Name:</span>
                    <strong><%= document.name %></strong>
                </div>
                <div class="filter" data-key="file-size">
                    <span>Size:</span>
                    <strong></strong>
                </div>
                <div class="filter" data-key="file-lines">
                    <span>Lines:</span>
                    <strong></strong>
                </div>
            </div>
            <div class="message"></div>
            <a class="linkable edit" target="_blank" href="/editor/<%= document.pub_id %>/?login=true">
                Edit in <span>Laborate</span>
            </a>
        </div>
    <% } %>
    <div class="pane">
        <textarea id="code" name="code"></textarea>
        <div class="shadow-top"></div>
    </div>
</div>
<% include ../../../includes/end.html %>
