<% include ../../../includes/start.html %>
<strong>Smal (350px)</strong><br>
<iframe src="/editor/<%= document %>/embed/" style="width:350px;height:350px;outline:none;border:none;"></iframe>
<br><br><br><br><br><br>

<strong>Medium (400px)</strong><br>
<iframe src="/editor/<%= document %>/embed/" style="width:400px;height:350px;outline:none;border:none;"></iframe>
<br><br><br><br><br><br>

<strong>Medium Plus (500px)</strong><br>
<iframe src="/editor/<%= document %>/embed/" style="width:500px;height:350px;outline:none;border:none;"></iframe>
<br><br><br><br><br><br>

<strong>Large (600px)</strong><br>
<iframe src="/editor/<%= document %>/embed/" style="width:600px;height:350px;outline:none;border:none;"></iframe>
<br><br><br><br><br><br>
<% include ../../../includes/end.html %>
