#editorCodeMirror * {outline: none;}

.CodeMirror-scroll {height: 100%; overflow-y: auto; overflow-x: auto;}
.CodeMirror-focused .cm-matchhighlight {background: #adfab4}
.CodeMirror-activeline-background {background: rgba(213,238,250,0.2);}
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.cm-s-codelaborate {background: #fff;; color: #323231;}
.cm-s-codelaborate .CodeMirror-selected {background: rgba(176, 208, 255, 0.61);}
.cm-s-codelaborate .CodeMirror-highlighted {background: #b0d0ff;}
.cm-s-codelaborate .CodeMirror-gutters {background: none; border-right: 0px; padding-right: 10px;}
.cm-s-codelaborate .CodeMirror-linenumber {cursor: pointer;}
.cm-s-codelaborate .CodeMirror-cursor {border-left: 1px solid #666;}
.cm-s-codelaborate .CodeMirror-breakpoint {color: #56606E;}
.cm-s-codelaborate .CodeMirror-dialog {
    position: absolute;
    padding: 10px 0px 10px 10px;
    font-size: 24px;
    border-top: solid 1px #ccc;
    overflow: visible;
    z-index: 100;
}
.cm-s-codelaborate .CodeMirror-dialog input {font-size: 20px;}

.cm-s-codelaborate pre {color: #292929; padding: 0;}
.cm-s-codelaborate span.cm-comment {color: #8E908C;}
.cm-s-codelaborate span.cm-atom {color: #C82829;}
.cm-s-codelaborate span.cm-number {color: #006ab5;}
.cm-s-codelaborate span.cm-meta {color: #E42040;}
.cm-s-codelaborate span.cm-qualifier {color: #b76000;}
.cm-s-codelaborate span.cm-operator {color: #4042c2;}

.cm-s-codelaborate span.cm-attribute {color: #AB5800;}
.cm-s-codelaborate span.cm-property {color: #000;}
.cm-s-codelaborate span.cm-keyword {color: #A32575;}
.cm-s-codelaborate span.cm-string {color: #355a88;}

.cm-s-codelaborate span.cm-builtin {color: #8734BE;}
.cm-s-codelaborate span.cm-variable {color: #000;}
.cm-s-codelaborate span.cm-variable-2 {color: #956C00;}
.cm-s-codelaborate span.cm-def {color: #357d88;}
.cm-s-codelaborate span.cm-error {background: #ff0000; color: #f8f8f0;}
.cm-s-codelaborate span.cm-bracket {color: #f8f8f2;}
.cm-s-codelaborate span.cm-tag {color: #9B2A92;}
.cm-s-codelaborate span.cm-link {color: #7227ff;}
.cm-s-codelaborate span.cm-header {color: #00a831}

.cm-s-codelaborate .CodeMirror-matchingbracket { color: #a62da2 !important;}
.cm-s-codelaborate .CodeMirror-nonmatchingbracket {color: #ff0000 !important;}
.cm-s-codelaborate .acWord {color:black;}
.cm-s-codelaborate .fileLink::after {border-bottom-color: #fbfbfe !important;}