.notification {
    top: 20px;
}

#navigation {
    position: fixed;
    width: 225px;
    top: 70px;
    left: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    background: #f8fafb;
    border: solid 1px #dadcde;
    overflow: hidden;
}

#navigation #navigation_header {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 13px 10px;
    background: -webkit-linear-gradient(#F9F9F9 0%, #efefef 100%);
    color: #52595d;
    word-break: break-all;
    word-wrap: break-word;
}

#navigation_header_gravatar {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    border: solid 1px #C4C4C4;
    height: 30px;
    width: 30px;
}

#navigation_header_gravatar:hover {
    border: solid 1px #a6a6a6;
}

#navigation_header_gravatar img {
    margin: 0;
    padding: 0;
}

#navigation_header_screen_name {
    margin: 5px 0 0 0;
    float: left;
}

#navigation #navigation_password_left {
    border-bottom: solid 1px #e4e6e8;
    padding: 10px;
    background: #f3f3f3;
    background-image: url("/img/tshadow");
    background-repeat: repeat-x;
    background-position: 0px -5px;
}

#navigation #navigation_password_header {
    font-size: 11px;
    color: #666;
    font-weight: bold;
}

#navigation #navigation_password_header_light {
    font-size: 11px;
    color: #999;
    font-weight: bold;
}

#navigation ul {
    padding: 0px 10px;
}

#navigation ul li {
    padding-left: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}

#navigation ul li:last-child {
    margin-bottom: 15px;
}

#navigation ul li:hover {
    color: #333;
}

#navigation ul li.selected {
    color: #006296;
}

#setting_pane {
    margin: 38px 20px 0 280px;
    min-width: 530px;
    position: relative;
}

#setting_pane .settings {
    display: none;
}

#setting_pane .settings .settings_header {
    border-bottom: solid 1px #ccc;
    padding-bottom: 15px;
    font-weight: bold;
    position: relative;
}

#setting_pane .settings .settings_header .button {
    position: absolute;
    right: 0;
    bottom: 10px;
}

#settings_github .settings_content #need_github_login {
    margin: 50px auto;
    text-align: center;
}

#setting_pane .settings_content .icon_big {
    color: #0376c3;
    font-size: 150px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #ccc, -1px 1px 2px #ccc, 1px -1px 2px #ccc, -1px -1px 2px #ccc;
}

#setting_pane .settings_content .icon {
    font-size: 24px;
    margin-right: 20px;
}

#setting_pane .settings_content .icon-locked-2 {
    color: #0376c3;
}

#setting_pane .settings_content .table {
    width: 100%;
}

#setting_pane .settings_content .table .tr {
    padding: 10px 0 10px 10px;
    border-bottom: dashed 1px #ccc;
}

#setting_pane .settings_content .table .tr:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

#setting_pane .settings_content .table .tr:hover {
    background: #e1f9ff;
}