@import '../core/index';
@import '../compless/all';

.header .search {
    width: 500px !important;
}

.content {
    .pane {
        padding: 25px;

        & > div {
            display: none;
        }

        .selection {
            width: 500px;

            .powered_stripe {
                margin: 10px auto 0 auto;
                display: block;
            }

            .card-type {
                width: 32px;
                height: 20px;
            }

            #card-company {
                display: none;
                position: absolute;
                top: 34px;
                right: 8px;
            }

            .container {
                &:nth-child(even) {
                    margin: 30px 0;
                    padding: 30px 0;
                    border-top: solid 1px darken(@color_body, 5%);
                    border-bottom: solid 1px darken(@color_body, 5%);
                }

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }

            form {
                width: 100%;

                .item {
                    position: relative;
                    margin-bottom: 15px;

                    &.half {
                        width: 50%;
                        .float-left();
                    }

                    &.quarter {
                        margin-left: 10px;
                        .calc-width(~"25% - 10px");
                        .float-left();
                    }

                    .name {
                        font-size: 14px;
                        font-weight: bold;
                        color: darken(@color_body, 55%);
                        margin-bottom: 5px;
                    }

                    .input {
                        width: 100%;
                        font-size: 14px;
                        border: solid 1px darken(@color_body, 20%);
                        color: darken(@color_body, 65%);
                        padding: 10px;
                        background: darken(#fff, 1%) url("/img/tshadow.png") repeat-x 0 -5px;
                        .border-radius(2px);

                        &:hover {
                           border: solid 1px darken(@color_body, 25%);
                        }

                        &:focus {
                            background-color: #fff;
                            border: solid 1px @color_blue;
                        }

                        &:disabled {
                            opacity: .8;
                        }

                        &.error {
                            border: solid 1px @color_red;

                            &:hover {
                               border: solid 1px darken(@color_red, 25%);
                            }

                            &:focus {
                                background-color: #fff;
                                border: solid 1px @color_blue;
                            }
                        }
                    }
                }

                .button {
                    display:block;
                    cursor: pointer;
                    border: none;
                    padding: 10px 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    width: 100%;
                    background: darken(@color_blue, 5%);
                    .border-radius(2px);

                    &:hover {
                        background: darken(@color_blue, 10%);

                        &:active {
                            background: darken(@color_blue, 15%);
                        }
                    }

                    &.red {
                        background: darken(@color_red, 5%);

                        &:hover {
                            background: darken(@color_red, 10%);

                            &:active {
                                background: darken(@color_red, 15%);
                            }
                        }
                    }

                    &.error {
                        background: darken(@color_red, 20%);

                        &:hover {
                            background: darken(@color_red, 25%);

                            &:active {
                                background: darken(@color_red, 30%);
                            }
                        }
                    }
                }
            }

            .listing {
                width: 100%;

                .item {
                    padding: 15px 10px;
                    .clearfix();
                    .box-sizing(border-box);

                    &.error {
                        opacity: .5;
                    }

                    &.empty {
                        font-size: 14px;
                        color: darken(@color_header_bottom, 70%);
                        text-align: center;
                        font-weight: bold;
                        border: none !important;

                        a {
                            color: darken(@color_header_bottom, 50%);

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    & {
                        /* General */
                        .icon {
                            width: 35px;
                            margin-right: 20px;
                            .float-left();
                        }

                        .action {
                            font-size: 14px;
                            font-weight: bold;
                            cursor: pointer;
                            width: 80px;
                            text-align: left;
                            .float-right();
                        }

                        .name {
                            width: 65%;
                            .ellipsis();
                            .float-left();
                        }

                        .title {
                            width: 40%;
                            .ellipsis();
                            .float-left();
                        }

                        /* Billing */
                        .card {
                            width: 25%;
                            .float-left();
                        }

                        /* Plans */
                        .small-text {
                            .calc-width(~"25% - 15px");
                            margin-right: 15px;
                            .float-left();
                        }

                        .smaller-text {
                            .calc-width(~"20% - 15px");
                            margin-right: 15px;
                            .float-left();
                        }

                        .smallest-text {
                            .calc-width(~"15% - 15px");
                            margin-right: 15px;
                            .float-left();
                        }

                        .tiny-text {
                            .calc-width(~"12% - 15px");
                            margin-right: 15px;
                            .float-left();
                        }
                    }

                    &.header {
                        font-size: 14px;
                        font-weight: bold;
                        background: @color_header_bottom;
                        color: darken(@color_header_bottom, 50%);
                        border-bottom: solid 1px darken(@color_body, 10%);
                        .box-shadow(0 1px 1px #C7C7C7);
                    }

                    &:not(.header) {
                        padding: 15px 10px;
                        .clearfix();
                        .box-sizing(border-box);

                        &:nth-child(odd) {
                            background: darken(@color_body, 3%);

                            &:not(:only-child) {
                                border-top: solid 1px darken(@color_body, 10%);
                                border-bottom: solid 1px darken(@color_body, 10%);
                            }
                        }

                        &:last-child {
                            border-bottom: none !important;
                        }

                        .icon {
                            color: darken(@color_blue, 15%);
                        }

                        .card {
                            line-height: 14px;

                            .big {
                                line-height: 0;
                                font-weight: bold;
                                font-size: 18px;
                            }
                        }

                        .remove {
                            color: darken(@color_red, 15%);

                            &:hover {
                               color: darken(@color_red, 25%);

                               &:active {
                                   color: darken(@color_red, 30%);
                               }
                            }
                        }

                        .name {
                            color: #333;
                        }

                        .checked {
                            color: darken(@color_green, 8%);
                        }

                        .unchecked {
                            color: @color_red;
                        }

                        .button {
                            font-size: 12px;
                            text-align: center;
                            cursor: default;
                            color: #fff;
                            background: @color_green;
                            margin-top: -3px;
                            padding: 4px 6px;
                            text-transform: uppercase;
                            .border-radius(3px);

                            &.selectable {
                                cursor: pointer;
                                background: darken(@color_blue, 2%);

                                &:hover {
                                    background: darken(@color_blue, 8%);

                                    &:active {
                                        background: darken(@color_blue, 14%);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pills {

            }
        }
    }
}
