<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="content" class="index">
        <div class="progress">
            <div class="bar"></div>
        </div>
        <div class="header">Welcome to Laborate!</div>
        <div class="sub-header">you are almost a laborator</div>
        <div class="text-center">
            <a id="continue" href="/welcome/creative/">continue</a>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
