<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="content" class="social">
        <div class="progress">
            <div class="bar"></div>
        </div>
        <a href="/welcome/creative/" class="previous">
            <div class="arrow"></div>
        </a>
        <a href="/welcome/explore/" class="next">
            <div class="arrow"></div>
        </a>
        <div class="header">Be Social!</div>
        <div class="sub-header">share with the world</div>
    </div>
</div>
<% include ../includes/footer.html %>
