<% include ../includes/header.html %>
<div id="backdrop" class="noCenter">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container" class="largest">
             <div id="backdrop-header">Explore The Most Popular Documents</div>
             <div class="list">
                 <% $.each(documents, function(key, document) { %>
                    <div class="item">
                        <div class="rank">
                            <%= (key+1 < 10) ? "0" : "" %><%= key + 1 %>
                        </div>
                        <div class="information">
                            <div class="name">
                                <a target="_blank" href="/users/<%= document.owner.screen_name %>/"><%= document.owner.screen_name %></a>
                                <span>/</span>
                                <a target="_blank" href="/editor/<%= document.pub_id %>/"><%= document.name %></a>
                            </div>
                            <div class="size"><%= document.size(true) %></div>
                            <div class="clear"></div>
                            <div class="users">
                                <% $.each(document.roles.splice(0, 8), function(key, role) { %>
                                    <a target="_blank" href="/users/<%= role.user.screen_name %>/" class="user">
                                        <img src="<%= role.user.gravatar %>"/>
                                    </a>
                                <% }); %>

                                <% if(!document.roles.empty) { %>
                                    <span class="more"><%= document.roles.length %> more...</span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                 <% }); %>
             </div>
         </div>
    </div>
</div>
<% include ../includes/footer.html %>
