<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="panel main">
    <div class="module">
        <div class="header">Create Group</div>
        <div class="bubble">
            <input class="input" name="name" placeholder="name..." />
            <textarea class="textarea" name="description" placeholder="tell us about your amazing group..."></textarea>
            <input class="button" value="Create" />
        </div>
    </div>
</div>
<% include ../includes/end.html %>
