<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="panel main">
    <div class="container">
        <a href="/groups/create/" class="group blank">
            <div class="create <%= icons.add_circle_full %>"></div>
        </a>
        <% $.each(groups, function(index, group) { %>
            <% if(!(group.private && group.owner_id != user.id)) { %>
                <div class="group" style="<%= background("blurry") %>">
                    <div class="cover"></div>
                    <div class="gravatars">
                        <% $.each(group.exclude(user.id).slice(0, 17), function(index, laborator) { %>
                            <div class="gravatar" style="background-image: url('<%= laborator.gravatar %>')"></div>
                        <% }); %>
                    </div>
                    <a href="/groups/<%= group.pub_id %>/" class="info">
                        <% var count = group.exclude(user.id).length; %>
                        <% if(count > 0) { %>
                            <div class="count"><%=: count | format %></div>
                        <% } %>
                        <div class="name"><%= group.name %></div>
                    </a>
                    <div class="actions">
                        <% if(group.owner_id == user.id) { %>
                            <a href="/groups/<%= group.pub_id %>/edit/" class="action blue">Edit</a>
                            <a href="/groups/<%= group.pub_id %>/remove/" class="action red">Remove</a>
                        <% } else { %>
                            <a href="/groups/<%= group.pub_id %>/leave/" class="action red">Leave</a>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
</div>
<% include ../includes/end.html %>
