<div class="popup-groups" data-user="<%= his_id %>">
    <div class="arrow"></div>
    <% if(!my_groups.empty) { %>
        <div class="list">
            <% my_groups.forEach(function(group) { %>
                <% if(group.owner_id == user.id) { %>
                    <% var in_group = (his_groups.indexOf(group.pub_id) != -1); %>
                    <div class="item <%= in_group ? "active" : "" %>" data-group="<%= group.pub_id %>">
                        <div class="icon <%= icons[in_group ? "checked" : "unchecked"] %>"></div>
                        <div class="name"><%= group.name %></div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    <% } else { %>
        <div class="create">
            You don't have any groups.<br>
            <a href="/groups/create/">Create one</a>
        </div>
    <% } %>
</div>
