<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="panel main">
    <div class="container profile">
        <div class="group-header">
            <div class="gravatars" style="<%= background %>">
                <% if(group.private) { %>
                    <div class="icon <%= icons.locked %>"></div>
                <% } %>
                <div class="cover"></div>
                <div class="gravatars">
                    <% $.each(group.users.slice(0, 16), function(index, laborator) { %>
                        <div class="gravatar" style="background-image: url('<%= laborator.gravatar %>')"></div>
                    <% }); %>
                </div>
            </div>
            <div class="info">
                <div class="name"><%= group.name %></div>
                <div class="description"><%= group.description %></div>
            </div>
            <% if(!access) { %>
                <a class="corner-button join" href="/groups/<%= group.pub_id %>/join/">Join Group</a>
            <% } else if(group.owner_id == user.id) { %>
                <div class="corner-button owner">Owner</div>
            <% } else { %>
                <div class="corner-button member">Member</div>
            <% } %>
        </div>
        <% if(!user.fake) { %>
            <div class="group-actions">
                <div class="action">
                    <div class="coming-soon" data-action="invite">Invite Users</div>
                </div>

                <% if(group.owner_id == user.id) { %>
                    <div class="action">
                        <a href="/groups/<%= group.pub_id %>/private/">
                            Make <%= (group.private) ? "Public" : "Private" %>
                        </a>
                    </div>
                    <div class="action">
                        <a class="coming-soon" href="/groups/<%= group.pub_id %>/edit/">Edit Group</a>
                    </div>
                    <div class="action">
                        <a href="/groups/<%= group.pub_id %>/remove/">Delete Group</a>
                    </div>
                <% } else { %>
                    <div class="action">
                        <a href="/news/?group=<%= group.pub_id %>">Group Posts</a>
                    </div>
                    <div class="action">
                        <a class="coming-soon" href="/search/?type=groups&q=<%= group.description %>">Similar Groups</a>
                    </div>
                    <div class="action">
                        <a href="/groups/<%= group.pub_id %>/leave/">Leave Group</a>
                    </div>
                <% } %>
            </div>
        <% } %>
        <div class="group-metrics">
            <div class="metric">
                <div class="count"><%=: group.users.length | format %></div>
                <div class="name"><%=: "Member" | pluralize:(group.users.length != 1) %></div>
            </div>
            <div class="metric">
                <div class="count"><%=: group.posts | format %></div>
                <div class="name"><%=: "Post" | pluralize:(group.posts != 1) %></div>
            </div>
            <div class="metric">
                <div class="count"><%=: group.documents | format %></div>
                <div class="name">Active <%=: "Document" | pluralize:(group.documents != 1) %></div>
            </div>
        </div>
        <div class="group-users">
            <% $.each(group.users, function(key, user) { %>
                <div class="user">
                    <div class="gravatar">
                        <img src="<%= user.gravatar %>" />
                    </div>
                    <div class="information">
                        <a href="/users/<%= user.screen_name %>/">
                            <div class="name"><%= user.name %></div>
                        </a>
                        <div class="screen"><%= user.screen_name %></div>
                    </div>
                    <div class="add-groups" data-user="<%= user.pub_id %>">
                        <span class="<%= icons.share %>"></span> Groups
                    </div>
                    <canvas data-activity="<%= JSON.stringify(user.activity) %>"></canvas>
                    <div class="clear"></div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
<% include ../includes/end.html %>
