@import '../core/index';
@import '../compless/all';

body {
    background: @body;
    font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
    min-width: 1077px;
    .reset-box-model();
}

.sidebar {
    width: 180px;
    height: 100%;
    color: #fff;
    background: @sidebar;
    position: fixed;
    top: 0;
    left: 0;

    .profile {
        background: @sidebar_profile;
        padding-top: 6px;
        height: 95px;
        .box-sizing(border-box);

        .img {
            cursor: pointer;
            overflow: hidden;
            margin: 0 auto;
            width: 75px;
            height: 75px;
            border: solid 4px lighten(@sidebar_profile, 5%);
            .border-radius(50%);

            &:hover {
                border: solid 4px lighten(@sidebar_profile, 8%);
            }

            &:active {
                border: solid 4px lighten(@sidebar_profile, 11%);
            }

            img {
               width: 75px;
               height: 75px;
               display: none;
            }
        }
    }

    .controller {
        background: @sidebar_header;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        height: 45px;
        .box-sizing(border-box);
        .clearfix();

        .title {
           .float-left();
        }

        .addition {
            font-size: 18px;
            color: @sidebar_header_icon;
            cursor: pointer;
            .float-right();

            &:hover {
                color: lighten(@sidebar_header_icon, 5%);
            }

            &:active {
                color: lighten(@sidebar_header_icon, 10%);
            }
        }
    }

    .locations {
        color: darken(#fff, 15%);
        font-size: 14px;
        line-height: 14px;
        padding-left: 12px;

        .item {
            cursor: pointer;
            margin-top: 10px;
            .clearfix();

            .container {
                height: 18px;
                margin: 6px 0;
                .float-left();
                .clearfix();

                .name {
                    width: 130px;
                    height: 15px;
                    font-weight: bold;
                    .ellipsis();
                    .float-left();
                }

                .icon {
                    line-height: 18px;
                    margin-left: 10px;
                    font-size: 14px;
                    color: darken(@sidebar_locations_icon, 15%);
                    .float-left();

                    &.notify {
                        color: darken(@header_button, 10%);
                    }

                    &.big {
                        font-size: 18px;
                        margin-left: 8px;
                    }
                }
            }

            .active {
                width: 5px;
                height: 25px;
                .float-right();
            }

            &:hover {
                .active {
                    background: darken(@sidebar_locations_active, 15%);
                }
            }

            &.activated {
                color: darken(#fff, 5%);

                .container {
                    .icon {
                        color: @sidebar_locations_icon;

                        &.notify {
                            color: @header_button;
                        }
                    }
                }

                .active {
                    background: @sidebar_locations_active;
                }
            }
        }
    }
}

.content {
    margin-left: 180px;
    .box-sizing(border-box);

    .header {
        .clearfix();

        .top {
            background: @header_top;
            padding: 21px 25px;
            height: 95px;
            .box-sizing(border-box);

            .search {
                position: relative;
                .float-left();

                .icon {
                    position: absolute;
                    top: 12px;
                    left: 14px;
                    font-size: 26px;
                    color: darken(@header_bottom_select, 20%);
                }

                input {
                    outline: none;
                    font-size: 16px;
                    width: 600px;
                    background: darken(@header_top_input, 4%);
                    padding: 14px 90px 14px 60px;
                    border: solid 2px #157097;
                    margin: 0;
                    .border-radius(4px);

                    &:focus {
                        background: @header_top_input;
                    }
                }

                button {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                    color: #fff;
                    background: @header_button;
                    border: solid 1px @header_button_border;
                    padding: 8px 10px;
                    font-size: 16px;
                    font-weight: bold;
                    .border-radius(3px);

                    &:hover {
                        border: solid 1px desaturate(@header_button_border, 10%);
                        background: desaturate(@header_button, 10%);
                    }

                    &:active {
                        border: solid 1px desaturate(@header_button_border, 20%);
                        background: desaturate(@header_button, 20%);
                    }
                }
            }

            .accounts {
                margin-top: 13px;
                .float-right();

                a {
                    color: darken(@header_action_links, 15%);
                    font-size: 18px;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        color: @header_action_links;
                    }
                }

                span {
                    color: darken(@header_action_links, 40%);
                    margin: 0 10px;
                }
            }
        }

        .bottom {
            position: relative;
            font-weight: bold;
            background: @header_bottom;
            padding: 8px 25px;
            height: 45px;
            .box-sizing(border-box);

            .message {
                color: darken(@header_bottom, 50%);
                padding-top: 7px;
                font-size: 12px;
                text-align: center;
                width: 100%;
                display: none;
                text-transform: uppercase;
            }

            .download-files,
            .confirm-files,
            .cancel-files  {
                color: #fff;
                font-size: 13px;
                padding: 5px 8px;
                margin-left: 15px;
                cursor: pointer;
                .border-radius(2px);
                .float-right();
            }

            .download-files {
                background: @header_bottom_button;
                border: solid 1px darken(@header_bottom_button, 5%);

                &:hover {
                    background: darken(@header_bottom_button, 2%);
                }

                &:active {
                    background: darken(@header_bottom_button, 3%);
                }

                &.active {
                    opacity: .6;
                }
            }

            .confirm-files {
                background: @header_bottom_confirm;
                border: solid 1px darken(@header_bottom_confirm, 5%);

                &:hover {
                    background: darken(@header_bottom_confirm, 2%);
                }

                &:active {
                    background: darken(@header_bottom_confirm, 3%);
                }
            }

            .cancel-files {
                background: @header_bottom_cancel;
                border: solid 1px darken(@header_bottom_cancel, 5%);

                &:hover {
                    background: darken(@header_bottom_cancel, 2%);
                }

                &:active {
                    background: darken(@header_bottom_cancel, 3%);
                }
            }


            .filters {
                font-size: 14px;
                line-height: 17px;
                color: darken(@header_bottom, 25%);

                .filter {
                    position: relative;
                    margin-right: 50px;
                    .float-left();

                    span {
                        position: relative;
                        top: 1px;
                    }

                    .icon {
                        position: absolute;
                        top: 8px;
                        right: 5px;
                    }

                    select {
                        position: relative;
                        font-weight: bold;
                        padding: 5px 25px 5px 10px;
                        background: @header_bottom_select;
                        color: darken(@header_bottom_select, 30%);
                        border: solid 1px darken(@header_bottom_select, 5%);
                        outline: none;
                        cursor: pointer;

                        //Mozila Arrow Fix
                        text-indent: 0.01px;
                        text-overflow: '';

                        .appearance(none);
                        .border-radius(2px);

                        &:hover {
                            border: solid 1px darken(@header_bottom_select, 10%);
                        }
                    }
                }
            }

            .add-files {
                position: absolute;
                top: 6px;
                right: 25px;
                font-size: 16px;
                color: #fff;
                cursor: pointer;

                #create {
                    font-size: 13px;
                    background: @header_bottom_button;
                    padding: 6px 8px;
                    border: solid 1px #0072bc;
                    .border-radius(2px 0 0 2px);
                    .float-left();

                    &:hover {
                        background: darken(@header_bottom_button, 2%);
                    }

                    &:active {
                        background: darken(@header_bottom_button, 3%);
                    }
                }

                #upload {
                    font-size: 16px;
                    padding: 6px 7px;
                    border: solid 1px #0072bc;
                    border-left: none;
                    background: darken(@header_bottom_button, 5%);
                    .border-radius(0 2px 2px 0);
                    .float-left();

                    &:hover {
                        background: darken(@header_bottom_button, 7%);
                    }

                    &:active {
                        background: darken(@header_bottom_button, 8%);
                    }
                }
            }
        }
    }

    .files {
        padding: 0 0 0 25px;
        .clearfix();

        .item {
            position: relative;
            text-align: center;
            margin: 20px 25px 20px 0;
            overflow: hidden;
            padding: 30px 20px 35px 20px;
            background: @grey;
            cursor: pointer;
            opacity: 0.9;
            width: 84px;
            .box-sizing(border-box);
            .border-radius(2px);
            .float-left();

            &:hover {
                opacity: .95;
            }

            &:hover:active {
                opacity: 1;
            }

            &.file {
                .border-radius(2px, 0, 2px, 2px);

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: solid 9px transparent;
                    background: rgba(0, 0, 0, 0.3);
                    display: block;
                    border-color: @body @body transparent transparent;
                    width: 0; // Firefox 3.0 damage limitation

                    .transition(border-width);
                    .border-radius(0 0 0 2px);
                    .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
                }

                &:hover:before {
                    border-width: 12px;
                }
            }

            &.folder {
                .transition(box-shadow);
                .box-shadow(~"inset 0 5px 1px rgba(0, 0, 0, 0.2), inset 0 11px 1px rgba(0, 0, 0, 0.1)");

                &:hover {
                    .box-shadow(~"inset 0 8px 1px rgba(0, 0, 0, 0.2), inset 0 18px 1px rgba(0, 0, 0, 0.1)");
                }
            }

            &.red {
                background: @red;
            }

            &.blue {
                background: @blue;
            }

            &.green {
                background: @green;
            }

            &.purple {
                background: @purple;
            }

            &.orange {
                background: @orange;
            }

            .corner {
                color: rgba(0, 0, 0, 0.4);
                font-size: 14px;
                position: absolute;
                top: 5px;
                left: 5px;
            }

            .icon {
                color: rgba(0, 0, 0, 0.5);
                font-size: 42px;
            }

            .name {
                position: absolute;
                bottom: 5px;
                left: 10px;
                color: #ededed;
                font-weight: 500;
                font-size: 12px;
                width: 65px;
                .ellipsis();
            }

            .progress {
                position: absolute;
                bottom: 0px;
                left: 10px;
                width: 65px;
                padding: 1px;
                border: solid 2px rgba(0, 0, 0, 0.2);
                opacity: 0;
                display: none;
                .box-sizing(border-box);
                .border-radius(3px);

                .bar {
                    background: rgba(0, 0, 0, 0.3);
                    width: 0;
                    height: 5px;
                    .border-radius(2px);
                }
            }
        }
    }
}
