<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="logo" class="<%= (config.animate) ? "spin" : "" %>">
        <img src="/img/landing/logo_inner.png"/>
    </div>
    <div id="landing">
        <div class="header">Collaborate Anywhere</div>
        <div class="sub-header">
            <strong>Laborate</strong>
            cloud-based solutions connect students in ways once impossible.
        </div>
        <form action="/register/" method="post">
            <div class="launch">Join the launch!</div>
            <div class="input-pair">
                <input type="hidden" name="_csrf" value="<%= csrf %>"/>
                <input class="input" name="email" type="email" placeholder="enter your email"/>
                <input class="submit" type="submit" value="Sign Up"/>
            </div>
            <div class="login">
                or <a href="/login/">Sign In</a>
            </div>
        </form>
    </div>
    <div id="social">
        <% $.each(social, function(key, social) { %>
            <% if(social.enabled) { %>
                <a href="<%= social.link %>" target="_blank">
                    <img src="/img/social/<%= key %>.png"/>
                </a>
            <% } %>
        <% }); %>
    </div>
</div>
<% include ../includes/footer.html %>
