<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="slider"></div>
    <div id="content">
        <!-- Slide: Main -->
        <div id="main" class="slide">
            <img id="logo" src="/img/logo.png"/>
            <div class="header">Collaborate Anywhere</div>
            <div class="sub-header">
                <strong>Laborate's</strong>
                cloud-based solutions connect students in ways once impossible.
            </div>
            <% if(user) { %>
                <div class="link">
                    start laborating on your <a href="/documents/">documents</a>
                </div>
            <% } else { %>
                <form action="/register/" method="post">
                    <div class="quote">Join the alpha launch!</div>
                    <div class="input-pair">
                        <input type="hidden" name="_csrf" value="<%= csrf %>"/>
                        <input class="input" name="email" type="email" placeholder="enter your email"/>
                        <input class="submit" type="submit" value="Sign Up"/>
                    </div>
                    <div class="link">
                        or <a href="/login/">Sign In</a>
                    </div>
                </form>
            <% } %>
            <div class="footer">
                <div id="backdrop-header">hello.java</div>
                <div class="code-container">
                    <% if(user) { %>
                        <textarea class="editor" placeholder="Code goes here..."><% include ../includes/samples/user.html %></textarea>
                    <% } else { %>
                        <textarea class="editor" placeholder="Code goes here..."><% include ../includes/samples/index.html %></textarea>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- Slide: Community -->
        <div id="community" class="slide colored">
            <div class="center">
                <div class="left">
                    <div class="sub-header">
                        Be part of a community<br>of amazing laborators
                    </div>
                    <div class="quote">
                        Laborate's community of like minded laborators
                        <br> are shaping tomorrow by improving their
                        <br> own education today.
                    </div>
                </div>
                <div class="right laborators">
                    <% $.each(laborators, function(key, laborator) { %>
                        <a class="laborator" target="_blank" href="/users/<%= laborator.screen_name %>/" style="z-index: <%= key %>">
                            <div class="gravatar">
                                <img src="<%= laborator.gravatar %>" />
                            </div>
                        </a>
                    <% }); %>
                </div>
            </div>
        </div>

        <!-- Slide: Classroom -->
        <div id="classroom" class="slide">
            <div class="center">
                <div class="left footer">
                    <div id="backdrop-header">
                        Intro To Python <span>Lecture</span>
                        <div></div>
                    </div>
                    <div class="code-container">
                        <textarea class="editor movie" placeholder="Code goes here..."><% include ../includes/samples/movie.html %></textarea>
                    </div>
                </div>
                <div class="right">
                    <div class="text-right sub-header">
                        Made for<br>the classroom
                    </div>
                    <div class="text-right quote">
                        Laborate is made to work
                        <br> in lecture, class and small teams.
                        <br> You can watch the instructor's lecture
                        <br> in realtime, do practice problems in section
                        <br> and collaborate with your trusted peers.
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide: Catalyst -->
        <div id="catalyst" class="slide colored">
            <div class="center">
                <div class="left">
                    <div class="sub-header">
                        Coding is<br>the catalyst
                    </div>
                    <div class="quote">
                        Our first realtime collaboration tool is
                        <br> is for programmers. As the tool evolves,
                        <br> it will lay the groundwork for future
                        <br> tools and services.
                    </div>
                </div>
                <div class="right files">
                    <div class="file">
                        <img src="/img/files/code.png"/>
                        <div class="name">coding</div>
                    </div>
                    <div class="file disabled">
                        <img src="/img/files/notes.png"/>
                        <div class="name">note-taking</div>
                    </div>
                    <div class="file disabled">
                        <img src="/img/files/math.png"/>
                        <div class="name">calculator</div>
                    </div>
                    <div class="file disabled">
                        <img src="/img/files/store.png"/>
                        <div class="name">app store</div>
                    </div>
                    <div class="clear"></div>
                    <div class="progress">
                        <a class="live" target="_blank" href="/documents/popup/add/document/">
                            create one
                        </a>
                        <div class="development">coming soon</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide: Students -->
        <div id="students" class="slide">
            <div class="center">
                <div class="left">
                    <div class="sub-header">
                        Made by students<br>for students
                    </div>
                    <div class="quote">
                        We are have experienced your pain
                        <br> and that is what drives us to build
                        <br> tools for you!
                    </div>
                </div>
                <div class="right founders">
                    <% $.each(admins, function(key, admin) { %>
                        <a class="founder" target="_blank" href="/users/<%= admin.screen_name %>/">
                            <div class="gravatar">
                                <img src="<%= admin.gravatar %>" />
                            </div>
                            <div class="name"><%= admin.name %></div>
                        </a>
                    <% }); %>
                </div>
            </div>
        </div>

        <% if(!user) { %>
            <!-- Slide: Register -->
            <div id="register" class="slide colored">
                <div class="center">
                    <div class="quote">So what are you waiting for? Sign up, its free!</div>
                    <form action="/register/" method="post">
                        <div class="input-pair">
                            <input type="hidden" name="_csrf" value="<%= csrf %>"/>
                            <input class="input" name="email" type="email" placeholder="enter your email"/>
                            <input class="submit" type="submit" value="Sign Up"/>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <!-- Slide: Footer -->
        <div id="footer" class="slide colored">
            <div class="center">
                <% $.each(social, function(key, social) { %>
                    <% if(social.enabled) { %>
                        <a href="<%= social.link %>" target="_blank">
                            <img src="/img/social/<%= key %>.png"/>
                        </a>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
