<% include ../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container">
            <div class="backdrop-text">Join A Document</div>
            <form action="/editor/exists/" autocomplete="off">
                <input type="text" autofocus="on" name="document" class="backdrop-input" placeholder="code"/>
                <input type="submit" class="backdrop-button" value="Join Document"/>
            </form>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <li><a href="/logout/">Logout</a></li>
            <% include ../includes/backdrop_end.html %>
        </ul>
    </div>
</div>
<% include ../includes/end.html %>
