<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container">
            <div class="backdrop-text"><%= document.name %></div>
            <form action="/editor/<%= document.pub_id %>/join/">
                <% if(document.password) { %>
                    <input type="password" autofocus="on" name="password" class="backdrop-input" placeholder="password"/>
                    <input type="submit" class="backdrop-button" value="connecting..." disabled="disabled"/>
                <% } else { %>
                    <input type="hidden" name="password"/>
                    <div class="loader-bar">
                        <div class="loader-bar-block"></div>
                    </div>
                <% } %>
            </form>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/">© <%= company %></a></li>
        </ul>
    </div>
</div>
<div class="sidebar">
    <div class="profile">
        <div class="img">
            <a href="/account/notifications/">
                <img src="<%= gravatar %>" />
            </a>
        </div>
    </div>
    <div class="locations">
        <div class="shadow-top"></div>
        <div class="listing">
            <div class="item" data-key="document">
                <div class="container">
                    <div class="name">File</div>
                    <div class="icon <%= icons.file %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="search">
                <div class="container">
                    <div class="name">Search</div>
                    <div class="icon <%= icons.search %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="share">
                <div class="container">
                    <div class="name">Share</div>
                    <div class="icon <%= icons.share %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="upload">
                <div class="container">
                    <div class="name">Upload</div>
                    <div class="icon <%= icons.circle_arrow_up %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="download">
                <div class="container">
                    <div class="name">Download</div>
                    <div class="icon <%= icons.circle_arrow_down %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="settings">
                <div class="container">
                    <div class="name">Settings</div>
                    <div class="icon <%= icons.settings %>"></div>
                </div>
                <div class="active"></div>
            </div>
        </div>
        <div class="shadow-bottom"></div>
    </div>
</div>
<div class="content">
    <div class="header">
        <div class="top">
            <div class="search">
                <form id="search" autocomplete="off">
                    <div class="icon <%= icons.search %>"></div>
                    <input type="text" placeholder="Search your document..." />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="accounts">
                <% if(user.admin) { %>
                    <a href="/admin/">Admin</a>
                    <span>|</span>
                <% } %>
                <a href="/documents/">Documents</a>
                <span>|</span>
                <a href="/logout/">Sign Out</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="pane">
        <textarea id="code" name="code" placeholder="Code goes here..."></textarea>
        <div class="shadow-top"></div>
    </div>
    <div class="chat">
        <div class="conversation">
            <div class="scroll-pane">
                <div class="item">
                    <div class="header">
                        <div class="gravatar">
                            <img src="<%= gravatar %>" />
                        </div>
                        <div class="name">bvallelunga</div>
                    </div>
                    <div class="message">Hello how are you</div>
                </div>
            </div>
        </div>
        <div class="messenger">
            <textarea placeholder="message goes here"></textarea>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
