<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop_styles %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo">laborate.io</div></a>
         <div id="backdrop-container">
            <div class="backdrop-text">Join A Document</div>
            <form action="/editor/exists/" autocomplete="off">
                <input type="text" autofocus="on" name="document" class="backdrop-input" placeholder="12345"/>
                <input type="submit" class="backdrop-button" value="Join Document"/>
            </form>
         </div>
    </div>
</div>
<% include ../includes/footer.html %>
