html, body { overflow: hidden; }

#editorCodeMirror {
	overflow: hidden;
	clear: none;
	margin: -10px 230px 0px 211px;
    padding: 0px 5px 0px 0px;
    position: relative;
}

#full_screen {
    opacity: .5;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 5px 20px 5px;
}

#full_screen:hover {
    opacity: 1;
}