@import '../core/index';
@import '../compless/all';

.panel {
    position: absolute;
    padding: 85px 30px 30px 30px;
    min-height: 100%;
    .box-sizing(border-box);

    &.main {
        width: 70%;
        background: @color_panels_main;

        &.lefted {
            left: 0;
            border-right: solid 1px @color_panels_main_border;

            .container {
                .float-right();
            }
        }

        &.right {
            right: 0;
            border-left: solid 1px @color_panels_main_border;

            .container {
                .float-left();
            }
        }

        &.centered {
            width: 100%;

            .container {
                float: none;
                clear: both;
                display: block;
                margin: 0 auto;
                width: 700px !important;

                .post > .data {
                    width: 625px !important;

                    .reply > .data {
                        width: 540px !important;
                    }
                }
            }
        }

        .container {
            position: relative;
            width: 650px;
        }

        .module {
            width: 300px;
            overflow: hidden;
            background: @color_module;
            .border-radius(4px);
            .box-shadow(0 1px 5px rgba(0, 0, 0, 0.15));

            .header {
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 16px;
                background: @color_module_header;
                padding: 8px 0;
                font-weight: bold;
                text-shadow: 0 2px rgba(0, 0, 0, 0.2);
            }

            .body {
                width: 100%;
                padding: 15px 20px;
                .box-sizing(border-box);

                .input, .textarea {
                    width: 100%;
                    color: #333;
                    background: @color_module_inputs;
                    padding: 10px;
                    resize: none;
                    font-size: 14px;
                    .border-radius(2px);
                    .transition(background);

                    &:focus {
                        background: @color_module_inputs_focus;
                    }

                    &.input {
                        margin-bottom: 14px;
                    }

                    &.textarea {
                        min-height: 100px;
                        margin: 0;
                    }
                }
            }

            .actions {
                width: 100%;
                padding: 10px 20px;
                background: @color_module_actions;
                .box-sizing(border-box);

                .button {
                    font-size: 14px;
                    background: @color_blue;
                    padding: 8px 0;
                    width: 100%;
                    text-align: center;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                    .border-radius(2px);
                    .transition(background);

                    &:hover {
                        background: darken(@color_blue, 5%);

                        &:active {
                            background: darken(@color_blue, 10%);
                        }
                    }
                }
            }
        }
    }

    &.filters {
        right: 0;
        width: 30%;
        padding-left: 0;
        background: @color_panels_alternate;
    }

    &.sidebar {
        left: 0;
        width: 30%;
        padding-left: 0;
        background: @color_panels_alternate;
    }
}
