#header {
    position: relative;
    background: #f2f2f2;
    padding: 15px 0px;
    border-bottom: solid 1px #ccc;
    z-index: 1000;
    width: 100%;
}

#header #logo {
    font-family: "Not Just Groovy";
    font-size: 24px;
    position: absolute;
    left: auto;
    right: auto;
    color: rgba(51,51,51,0.5);
    text-shadow: 1px 4px 6px #ededed, 0 0 0 #000, 1px 4px 6px #ededed;
}

#header #header_document_info {
    float: left;
    color: #333;
    margin-left: 20px;
}

#header #document_title {
    float: left;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #4c4c4c;
}

#header #document_title.hover {
    cursor: pointer;
}

#header #document_title.hover:hover {
    opacity: .7;
}

#header #document_contributors {
    margin-top: 5px;
    float: left;
}

#header #document_contributors .contributor {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 5px;
    border: solid 1px #666;
}

#contributor_info {
    background: #F8F8F8;
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    top: 40px;
    padding: 5px 10px;
    -moz-box-shadow: 1px 1px 2px #CCC;
    -webkit-box-shadow: 1px 1px 2px #CCC;
    box-shadow: 1px 1px 2px #CCC;
    color: #516068;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    display: none;
}

#contributor_info #contributor_info_arrow {
    background: url("/img/contributor_arrow.png");
    background-repeat: no-repeat;
    margin: -13px auto 5px auto;
    width: 27px;
    height: 8px;
}

#contributor_info #contributor_info_name {
    text-align: center;
}

#header #header_navigation {
    margin-right: 20px;
}

#header #header_navigation div {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #a3a3a3;
    padding-left: 10px;
    margin-left: 10px;
    border-left: solid 1px #e5e5e5;
    opacity: 1;
}

#header #header_navigation div:last-child {
    border: none;
}

#header_navigation div a {
    font-weight: bold;
    font-size: 15px;
    color: #4c4c4c;
    float: right;
}

#header_navigation div a:hover {
    opacity: .7;
}

#tshadow {
    position: relative;
    top: 0px;
    width: 100%;
    height: 5px;
    background: url("/img/tshadow.png");
    background-repeat: repeat-x;
    background-position: 0px -5px;
    background-position-x: 0px;
    background-position-y: -5px;
    z-index: 1000;
}
