@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-calculator, .icon-ruler, .icon-github, .icon-github-2, .icon-github-3, .icon-github-4, .icon-dropbox, .icon-help, .icon-warning, .icon-plus, .icon-minus, .icon-cross, .icon-publish, .icon-progress-3, .icon-progress-2, .icon-brogress-1, .icon-progress-0, .icon-browser, .icon-keyboard, .icon-drive, .icon-folder, .icon-install, .icon-download, .icon-upload, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up, .icon-arrow-right, .icon-menu, .icon-cart, .icon-credit-card, .icon-google-drive, .icon-storage, .icon-hdd, .icon-google-plus, .icon-google-plus-sign, .icon-envelope, .icon-envelope-2, .icon-reply, .icon-reply-all, .icon-forward, .icon-paperclip, .icon-paperplane, .icon-user, .icon-users, .icon-user-add, .icon-vcard, .icon-export, .icon-location, .icon-graduation, .icon-calendar, .icon-notebook, .icon-print, .icon-printer, .icon-print-2, .icon-thumbs-up, .icon-thumbs-down, .icon-comment, .icon-bars, .icon-pie, .icon-signal, .icon-lock, .icon-lock-open, .icon-flow-tree, .icon-dropbox-2, .icon-twitter, .icon-facebook, .icon-linkedin, .icon-tumblr, .icon-checked, .icon-unchecked, .icon-warning-sign, .icon-youtube-play, .icon-thumbs-down-2, .icon-thumbs-up-2, .icon-html5, .icon-tag, .icon-tags, .icon-barcode, .icon-off, .icon-cog, .icon-sign-blank, .icon-linkedin-2, .icon-minus-sign-alt, .icon-apple, .icon-windows, .icon-android, .icon-skype, .icon-tree, .icon-paper-plane, .icon-apple-2, .icon-painting, .icon-painting-2, .icon-reload, .icon-pictures, .icon-picture, .icon-number, .icon-number-2, .icon-number-3, .icon-number-4, .icon-number-5, .icon-number-6, .icon-number-7, .icon-number-8, .icon-number-9, .icon-number-10, .icon-number-11, .icon-number-12, .icon-number-13, .icon-number-14, .icon-number-15, .icon-number-16, .icon-number-17, .icon-number-18, .icon-number-19, .icon-number-20, .icon-notice, .icon-plus-2, .icon-minus-2, .icon-plus-3, .icon-minus-3, .icon-notice-2, .icon-box, .icon-cube, .icon-box-2, .icon-volume, .icon-volume-2, .icon-volume-3, .icon-chat, .icon-comments, .icon-chat-2, .icon-chat-3, .icon-dollar, .icon-dollar-2, .icon-pictures-2, .icon-tags-2, .icon-stop, .icon-tag-2, .icon-tags-3, .icon-book, .icon-books, .icon-images, .icon-image, .icon-folder-2, .icon-folder-open, .icon-cart-2, .icon-user-2, .icon-user-3, .icon-binoculars, .icon-lock-2, .icon-unlocked, .icon-key, .icon-switch, .icon-attachment, .icon-star, .icon-star-2, .icon-settings, .icon-equalizer, .icon-cog-2, .icon-stats, .icon-bars-2, .icon-pie-2, .icon-gift, .icon-enter, .icon-exit, .icon-plus-4, .icon-minus-4, .icon-android-2, .icon-finder, .icon-apple-3, .icon-tux, .icon-windows-2, .icon-windows8, .icon-html5-2, .icon-stackoverflow, .icon-safari, .icon-opera, .icon-IE, .icon-firefox, .icon-chrome, .icon-html5-3, .icon-credit-card-2, .icon-winsows, .icon-cloud, .icon-layers, .icon-eject, .icon-tree-2, .icon-chart, .icon-chart-2, .icon-chart-3, .icon-chart-4, .icon-presentation, .icon-chart-5, .icon-chart-6, .icon-bars-3, .icon-arrow-up-2, .icon-upload-2, .icon-upload-3, .icon-upload-4, .icon-arrow-down-2, .icon-download-alt, .icon-arrow-down-3, .icon-download-2, .icon-download-3, .icon-briefcase, .icon-suitcase, .icon-suitcase-2, .icon-briefcase-2, .icon-equalizer-2, .icon-stats-2, .icon-stats-3, .icon-attachment-2, .icon-compass, .icon-checked-2, .icon-error, .icon-add, .icon-microphone, .icon-microphone-2, .icon-window, .icon-tablet, .icon-monitor, .icon-cake, .icon-phone, .icon-calendar-2, .icon-calendar-3, .icon-calendar-4, .icon-cabinet, .icon-cabinet-2, .icon-cone, .icon-book-2, .icon-contract, .icon-expand, .icon-list, .icon-icons, .icon-pencil, .icon-star-empty, .icon-star-half, .icon-star-3, .icon-vector, .icon-vector-2, .icon-file, .icon-file-2, .icon-file-3, .icon-zip, .icon-files, .icon-file-4, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-file-css, .icon-file-xml, .icon-document-fill, .icon-document-stroke, .icon-list-2, .icon-bitbucket, .icon-bitbucket-sign, .icon-search, .icon-magnifier, .icon-search-2, .icon-search-3, .icon-search-4, .icon-document, .icon-info, .icon-info-2, .icon-info-3, .icon-info-4, .icon-info-5, .icon-info-sign, .icon-info-6, .icon-info-7, .icon-info-8, .icon-info-9, .icon-infographic {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-calculator:before {
	content: "\e000";
}
.icon-ruler:before {
	content: "\e001";
}
.icon-github:before {
	content: "\e002";
}
.icon-github-2:before {
	content: "\e003";
}
.icon-github-3:before {
	content: "\e004";
}
.icon-github-4:before {
	content: "\e005";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-help:before {
	content: "\e006";
}
.icon-warning:before {
	content: "\e007";
}
.icon-plus:before {
	content: "\e008";
}
.icon-minus:before {
	content: "\e009";
}
.icon-cross:before {
	content: "\e00a";
}
.icon-publish:before {
	content: "\e00b";
}
.icon-progress-3:before {
	content: "\e00c";
}
.icon-progress-2:before {
	content: "\e00d";
}
.icon-brogress-1:before {
	content: "\e00e";
}
.icon-progress-0:before {
	content: "\e00f";
}
.icon-browser:before {
	content: "\e010";
}
.icon-keyboard:before {
	content: "\e011";
}
.icon-drive:before {
	content: "\e012";
}
.icon-folder:before {
	content: "\e013";
}
.icon-install:before {
	content: "\e014";
}
.icon-download:before {
	content: "\e015";
}
.icon-upload:before {
	content: "\e016";
}
.icon-arrow-left:before {
	content: "\e017";
}
.icon-arrow-down:before {
	content: "\e018";
}
.icon-arrow-up:before {
	content: "\e019";
}
.icon-arrow-right:before {
	content: "\e01a";
}
.icon-menu:before {
	content: "\e01b";
}
.icon-cart:before {
	content: "\e01c";
}
.icon-credit-card:before {
	content: "\e01d";
}
.icon-google-drive:before {
	content: "\e01e";
}
.icon-storage:before {
	content: "\e01f";
}
.icon-hdd:before {
	content: "\f0a0";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-envelope:before {
	content: "\e020";
}
.icon-envelope-2:before {
	content: "\e021";
}
.icon-reply:before {
	content: "\e022";
}
.icon-reply-all:before {
	content: "\e023";
}
.icon-forward:before {
	content: "\e024";
}
.icon-paperclip:before {
	content: "\e025";
}
.icon-paperplane:before {
	content: "\e026";
}
.icon-user:before {
	content: "\e027";
}
.icon-users:before {
	content: "\e028";
}
.icon-user-add:before {
	content: "\e029";
}
.icon-vcard:before {
	content: "\e02a";
}
.icon-export:before {
	content: "\e02b";
}
.icon-location:before {
	content: "\e02c";
}
.icon-graduation:before {
	content: "\e02d";
}
.icon-calendar:before {
	content: "\e02e";
}
.icon-notebook:before {
	content: "\e02f";
}
.icon-print:before {
	content: "\f02f";
}
.icon-printer:before {
	content: "\e030";
}
.icon-print-2:before {
	content: "\e031";
}
.icon-thumbs-up:before {
	content: "\e032";
}
.icon-thumbs-down:before {
	content: "\e033";
}
.icon-comment:before {
	content: "\e034";
}
.icon-bars:before {
	content: "\e035";
}
.icon-pie:before {
	content: "\e036";
}
.icon-signal:before {
	content: "\e037";
}
.icon-lock:before {
	content: "\e038";
}
.icon-lock-open:before {
	content: "\e039";
}
.icon-flow-tree:before {
	content: "\e03a";
}
.icon-dropbox-2:before {
	content: "\e03b";
}
.icon-twitter:before {
	content: "\e03c";
}
.icon-facebook:before {
	content: "\e03d";
}
.icon-linkedin:before {
	content: "\e03e";
}
.icon-tumblr:before {
	content: "\e03f";
}
.icon-checked:before {
	content: "\e040";
}
.icon-unchecked:before {
	content: "\e041";
}
.icon-warning-sign:before {
	content: "\f071";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-thumbs-down-2:before {
	content: "\f165";
}
.icon-thumbs-up-2:before {
	content: "\f164";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-off:before {
	content: "\f011";
}
.icon-cog:before {
	content: "\f013";
}
.icon-sign-blank:before {
	content: "\f0c8";
}
.icon-linkedin-2:before {
	content: "\f0e1";
}
.icon-minus-sign-alt:before {
	content: "\f146";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-tree:before {
	content: "\e042";
}
.icon-paper-plane:before {
	content: "\e043";
}
.icon-apple-2:before {
	content: "\e044";
}
.icon-painting:before {
	content: "\e045";
}
.icon-painting-2:before {
	content: "\e046";
}
.icon-reload:before {
	content: "\e047";
}
.icon-pictures:before {
	content: "\e048";
}
.icon-picture:before {
	content: "\e049";
}
.icon-number:before {
	content: "\e04a";
}
.icon-number-2:before {
	content: "\e04b";
}
.icon-number-3:before {
	content: "\e04c";
}
.icon-number-4:before {
	content: "\e04d";
}
.icon-number-5:before {
	content: "\e04e";
}
.icon-number-6:before {
	content: "\e04f";
}
.icon-number-7:before {
	content: "\e050";
}
.icon-number-8:before {
	content: "\e051";
}
.icon-number-9:before {
	content: "\e052";
}
.icon-number-10:before {
	content: "\e053";
}
.icon-number-11:before {
	content: "\e054";
}
.icon-number-12:before {
	content: "\e055";
}
.icon-number-13:before {
	content: "\e056";
}
.icon-number-14:before {
	content: "\e057";
}
.icon-number-15:before {
	content: "\e058";
}
.icon-number-16:before {
	content: "\e059";
}
.icon-number-17:before {
	content: "\e05a";
}
.icon-number-18:before {
	content: "\e05b";
}
.icon-number-19:before {
	content: "\e05c";
}
.icon-number-20:before {
	content: "\e05d";
}
.icon-notice:before {
	content: "\e05e";
}
.icon-plus-2:before {
	content: "\e05f";
}
.icon-minus-2:before {
	content: "\e060";
}
.icon-plus-3:before {
	content: "\e061";
}
.icon-minus-3:before {
	content: "\e062";
}
.icon-notice-2:before {
	content: "\e063";
}
.icon-box:before {
	content: "\e064";
}
.icon-cube:before {
	content: "\e065";
}
.icon-box-2:before {
	content: "\e066";
}
.icon-volume:before {
	content: "\e067";
}
.icon-volume-2:before {
	content: "\e068";
}
.icon-volume-3:before {
	content: "\e069";
}
.icon-chat:before {
	content: "\e06a";
}
.icon-comments:before {
	content: "\e06b";
}
.icon-chat-2:before {
	content: "\e06c";
}
.icon-chat-3:before {
	content: "\e06d";
}
.icon-dollar:before {
	content: "\e06e";
}
.icon-dollar-2:before {
	content: "\e06f";
}
.icon-pictures-2:before {
	content: "\e070";
}
.icon-tags-2:before {
	content: "\e071";
}
.icon-stop:before {
	content: "\e072";
}
.icon-tag-2:before {
	content: "\e073";
}
.icon-tags-3:before {
	content: "\e074";
}
.icon-book:before {
	content: "\e075";
}
.icon-books:before {
	content: "\e076";
}
.icon-images:before {
	content: "\e077";
}
.icon-image:before {
	content: "\e078";
}
.icon-folder-2:before {
	content: "\e079";
}
.icon-folder-open:before {
	content: "\e07a";
}
.icon-cart-2:before {
	content: "\e07b";
}
.icon-user-2:before {
	content: "\e07c";
}
.icon-user-3:before {
	content: "\e07d";
}
.icon-binoculars:before {
	content: "\e07e";
}
.icon-lock-2:before {
	content: "\e07f";
}
.icon-unlocked:before {
	content: "\e080";
}
.icon-key:before {
	content: "\e081";
}
.icon-switch:before {
	content: "\e082";
}
.icon-attachment:before {
	content: "\e083";
}
.icon-star:before {
	content: "\e084";
}
.icon-star-2:before {
	content: "\e085";
}
.icon-settings:before {
	content: "\e086";
}
.icon-equalizer:before {
	content: "\e087";
}
.icon-cog-2:before {
	content: "\e088";
}
.icon-stats:before {
	content: "\e089";
}
.icon-bars-2:before {
	content: "\e08a";
}
.icon-pie-2:before {
	content: "\e08b";
}
.icon-gift:before {
	content: "\e08c";
}
.icon-enter:before {
	content: "\e08d";
}
.icon-exit:before {
	content: "\e08e";
}
.icon-plus-4:before {
	content: "\e08f";
}
.icon-minus-4:before {
	content: "\e090";
}
.icon-android-2:before {
	content: "\e091";
}
.icon-finder:before {
	content: "\e092";
}
.icon-apple-3:before {
	content: "\e093";
}
.icon-tux:before {
	content: "\e094";
}
.icon-windows-2:before {
	content: "\e095";
}
.icon-windows8:before {
	content: "\e096";
}
.icon-html5-2:before {
	content: "\e097";
}
.icon-stackoverflow:before {
	content: "\e098";
}
.icon-safari:before {
	content: "\e099";
}
.icon-opera:before {
	content: "\e09a";
}
.icon-IE:before {
	content: "\e09b";
}
.icon-firefox:before {
	content: "\e09c";
}
.icon-chrome:before {
	content: "\e09d";
}
.icon-html5-3:before {
	content: "\e09e";
}
.icon-credit-card-2:before {
	content: "\e09f";
}
.icon-winsows:before {
	content: "\e0a0";
}
.icon-cloud:before {
	content: "\e0a1";
}
.icon-layers:before {
	content: "\e0a2";
}
.icon-eject:before {
	content: "\e0a3";
}
.icon-tree-2:before {
	content: "\e0a4";
}
.icon-chart:before {
	content: "\e0a5";
}
.icon-chart-2:before {
	content: "\e0a6";
}
.icon-chart-3:before {
	content: "\e0a7";
}
.icon-chart-4:before {
	content: "\e0a8";
}
.icon-presentation:before {
	content: "\e0a9";
}
.icon-chart-5:before {
	content: "\e0aa";
}
.icon-chart-6:before {
	content: "\e0ab";
}
.icon-bars-3:before {
	content: "\e0ac";
}
.icon-arrow-up-2:before {
	content: "\e0ad";
}
.icon-upload-2:before {
	content: "\e0ae";
}
.icon-upload-3:before {
	content: "\e0af";
}
.icon-upload-4:before {
	content: "\e0b0";
}
.icon-arrow-down-2:before {
	content: "\e0b1";
}
.icon-download-alt:before {
	content: "\f019";
}
.icon-arrow-down-3:before {
	content: "\e0b2";
}
.icon-download-2:before {
	content: "\e0b3";
}
.icon-download-3:before {
	content: "\e0b4";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-suitcase:before {
	content: "\e0b5";
}
.icon-suitcase-2:before {
	content: "\e0b6";
}
.icon-briefcase-2:before {
	content: "\e0b7";
}
.icon-equalizer-2:before {
	content: "\e0b8";
}
.icon-stats-2:before {
	content: "\e0b9";
}
.icon-stats-3:before {
	content: "\e0ba";
}
.icon-attachment-2:before {
	content: "\e0bb";
}
.icon-compass:before {
	content: "\e0bc";
}
.icon-checked-2:before {
	content: "\e0bd";
}
.icon-error:before {
	content: "\e0be";
}
.icon-add:before {
	content: "\e0bf";
}
.icon-microphone:before {
	content: "\e0c0";
}
.icon-microphone-2:before {
	content: "\e0c1";
}
.icon-window:before {
	content: "\e0c2";
}
.icon-tablet:before {
	content: "\e0c3";
}
.icon-monitor:before {
	content: "\e0c4";
}
.icon-cake:before {
	content: "\e0c6";
}
.icon-phone:before {
	content: "\e0c5";
}
.icon-calendar-2:before {
	content: "\e0c7";
}
.icon-calendar-3:before {
	content: "\e0c8";
}
.icon-calendar-4:before {
	content: "\e0c9";
}
.icon-cabinet:before {
	content: "\e0ca";
}
.icon-cabinet-2:before {
	content: "\e0cb";
}
.icon-cone:before {
	content: "\e0cc";
}
.icon-book-2:before {
	content: "\e0cd";
}
.icon-contract:before {
	content: "\e0ce";
}
.icon-expand:before {
	content: "\e0cf";
}
.icon-list:before {
	content: "\e0d0";
}
.icon-icons:before {
	content: "\e0d1";
}
.icon-pencil:before {
	content: "\e0d2";
}
.icon-star-empty:before {
	content: "\e0d3";
}
.icon-star-half:before {
	content: "\e0d4";
}
.icon-star-3:before {
	content: "\e0d5";
}
.icon-vector:before {
	content: "\e0d6";
}
.icon-vector-2:before {
	content: "\e0d7";
}
.icon-file:before {
	content: "\f0d6";
}
.icon-file-2:before {
	content: "\f15b";
}
.icon-file-3:before {
	content: "\e0d8";
}
.icon-zip:before {
	content: "\e0d9";
}
.icon-files:before {
	content: "\e0da";
}
.icon-file-4:before {
	content: "\e0db";
}
.icon-file-pdf:before {
	content: "\e0dc";
}
.icon-file-openoffice:before {
	content: "\e0dd";
}
.icon-file-word:before {
	content: "\e0de";
}
.icon-file-excel:before {
	content: "\e0df";
}
.icon-file-zip:before {
	content: "\e0e0";
}
.icon-file-powerpoint:before {
	content: "\e0e1";
}
.icon-file-css:before {
	content: "\e0e2";
}
.icon-file-xml:before {
	content: "\e0e3";
}
.icon-document-fill:before {
	content: "\e0e4";
}
.icon-document-stroke:before {
	content: "\e0e5";
}
.icon-list-2:before {
	content: "\e0e6";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-bitbucket-sign:before {
	content: "\f172";
}
.icon-search:before {
	content: "\e0e7";
}
.icon-magnifier:before {
	content: "\e0e8";
}
.icon-search-2:before {
	content: "\e0e9";
}
.icon-search-3:before {
	content: "\e0ea";
}
.icon-search-4:before {
	content: "\e0eb";
}
.icon-document:before {
	content: "\f0c2";
}
.icon-info:before {
	content: "\e0ec";
}
.icon-info-2:before {
	content: "\e0ed";
}
.icon-info-3:before {
	content: "\e0ee";
}
.icon-info-4:before {
	content: "\e0ef";
}
.icon-info-5:before {
	content: "\e0f0";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-info-6:before {
	content: "\f129";
}
.icon-info-7:before {
	content: "\e0f1";
}
.icon-info-8:before {
	content: "\e0f2";
}
.icon-info-9:before {
	content: "\f315";
}
.icon-infographic:before {
	content: "\f336";
}
