// Core Colors
@color_body: #f1f0f0;
@color_red: #e74c3c;
@color_blue: #0099ff;
@color_green: #1abc9c;
@color_purple: #9b59b6;
@color_orange: #b59159;
@color_grey: #a4a5a5;

// Backdrop Colors
@color_backdrop: #90b5cc;
@color_backdrop_link: #00bbff;
@color_backdrop_input_error: #fce5e5;
@color_backdrop_button: #0c7bba;
@color_backdrop_button_error: #ef5454;

// Sidebar Colors
@color_sidebar: #34393d;
@color_sidebar_profile: #364e67;
@color_sidebar_header: #404549;
@color_sidebar_header_icon: #c2bfbf;
@color_sidebar_footer: #404549;
@color_sidebar_locations_icon: #bcbaba;
@color_sidebar_locations_active: #00aeef;

// Header Colors
@color_header_top: #1980ab;
@color_header_top_input: #fff;
@color_header_button: #00a7ed;
@color_header_button_border: #009de0;
@color_header_action_links: #afe1ef;
@color_header_bottom: #dcdbdb;
@color_header_bottom_select: #c7c6c6;
@color_header_bottom_button: #048fce;
@color_header_bottom_confirm: #00972C;
@color_header_bottom_cancel: #a82700;

// Popup Colors
@color_popup: #34495e;
@color_popup_header: #305e8c;
@color_popup_input_error: #fce5e5;
@color_popup_button: #0c7bba;
@color_popup_button_error: @color_backdrop_button_error;

//Context Menu Colors
@color_context_menu: @color_sidebar_header;
