// Core Colors
@color_body: #f1f0f0;
@color_red: #e74c3c;
@color_red_nice: #e84c3d;
@color_blue: #0099ff;
@color_green: #1abc9c;
@color_purple: #9b59b6;
@color_orange: #b59159;
@color_yellow: #fff600;
@color_grey: #a4a5a5;

//Scroll Bar Colors
@color_scroll_track: transparent;
@color_scroll_thumb: #ccc;

//Header Colors
@color_header: #1f2628;
@color_header_logo: #156f95;
@color_header_blink_from: @color_grey;
@color_header_blink_to: @color_blue;
@color_header_apps: rgba(0, 0, 0, 0.8);
@color_header_search: rgba(0, 0, 0, 0.8);

//Panels Colors
@color_panels_main: lighten(@color_body, 2%);
@color_panels_main_border: darken(@color_body, 5%);
@color_panels_alternate: transparent;

//Module Colors
@color_module: #fff;
@color_module_header: #5d6b71;
@color_module_inputs: rgba(0, 0, 0, 0.04);
@color_module_inputs_focus: lighten(@color_header, 78%);
@color_module_actions: spin(lighten(@color_blue, 48%), 10%);


//News Colors
@color_news_button: #5d6b71;
@color_news_header: #5d6b71;

// Backdrop Colors
@color_backdrop: #736677;
@color_backdrop_link: #00bbff;
@color_backdrop_input_error: #fce5e5;
@color_backdrop_button: #0c7bba;
@color_backdrop_button_error: #ef5454;

// Sidebar Colors
@color_sidebar: #34393d;
@color_sidebar_profile: #364e67;
@color_sidebar_header: #404549;
@color_sidebar_header_icon: #c2bfbf;
@color_sidebar_footer: #404549;
@color_sidebar_locations_icon: #bcbaba;
@color_sidebar_locations_active: #00aeef;
@color_sidebar_blink_from: lighten(@color_sidebar_profile, 8%);
@color_sidebar_blink_to: desaturate(lighten(@color_red, 2%), 15%);
@color_sidebar_list: #242e30;

// Header Colors
@color_header_top: #1980ab;
@color_header_top_input: #fff;
@color_header_button: #00a7ed;
@color_header_button_border: #009de0;
@color_header_action_links: #afe1ef;
@color_subheader: #dcdbdb;
@color_subheader_select: darken(@color_body, 5%);
@color_subheader_button: #048fce;
@color_subheader_confirm: #00972C;
@color_subheader_cancel: #a82700;

// Popup Colors
@color_popup: #34495e;
@color_popup_header: #305e8c;
@color_popup_input_error: #fce5e5;
@color_popup_button: #0c7bba;
@color_popup_button_error: @color_backdrop_button_error;

//Context Menu Colors
@color_context_menu: @color_sidebar_header;

// Editor Colors
@color_chat: @color_sidebar;
@color_chat_messenger: lighten(@color_chat, 10%);
@color_chat_bubble: lighten(@color_chat, 10%);

//Terminal Colors
@color_terminal: #242e30;
