<% include ../../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container">
             <form action="/auth/reset/<%= code %>" autocomplete="on">
               <input name="password" type="password" class="backdrop-input" placeholder="password" />
               <input name="password_confirm" type="password" class="backdrop-input" placeholder="password confirm" />
               <input type="submit" class="backdrop-button" value="Reset Password"/>
             </form>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <li><a href="/login/">Login</a></li>
            <% if(organization.register) { %>
                <li><a href="/register/">Register</a></li>
            <% } %>
            <% include ../../includes/backdrop_footer.html %>
        </ul>
    </div>
</div>
<% include ../../includes/footer.html %>
