@import '../core/index';
@import '../compless/all';

#slider {
    position: fixed !important;
    z-index: 100003;
    right: 50px;

    & > div {
        width: 13px;
        height: 13px;
        padding: 2px;
        margin-top: 15px;
        cursor: pointer;
        overflow: hidden;
        border: solid 2px rgba(255, 255, 255, 0.5);
        .border-radius(50%);

        &:first-child {
            margin: 0;
        }

        &:hover div {
            background: rgba(255, 255, 255, 0.5);
        }

        &.active {
            border-color: #fff;

            div {
                background: #fff;
            }
        }

        div {
            width: 100%;
            height: 100%;
            .border-radius(50%);
        }
    }
}

#content {
    position: absolute;
    z-index: 100002;
    width: 100%;
    overflow: hidden;
    font-family: "Gill Sans";

    .slide {
        position: relative;
        z-index: 1000;
        width: 100%;
        padding: 40px 80px;
        .box-sizing(border-box);
        .clearfix();

        &:first-child {
            border: none;
        }

        &.colored {
            background: rgba(255, 255, 255, 0.2);
            .box-shadow(0 -2px 60px rgba(0, 0, 0, .2));
        }

        .center {
            width: 80%;

            @media only screen and (max-width : 1350px) {
                width: 90%;
            }

            @media only screen and (max-width : 1250px) {
                width: 100%;
            }
        }

        @media only screen and (max-width : 1150px) {
            padding: 40px;
        }
    }

    .header {
        font-size: 84px;
        font-weight: lighter;
        text-shadow: 0 2px 0 rgba(0, 0, 0, .6);
    }

    .sub-header {
        font-size: 45px;
        font-weight: lighter;
        margin-bottom: 25px;
        text-shadow: 0 2px 0 rgba(0, 0, 0, .6);

        strong {
            font-weight: 500;
        }
    }

    .quote {
        color: #e6e6e6;
        font-weight: 100;
        font-size: 21px;
        font-style: italic;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
    }

    .input-pair {
        position: relative;
        padding: 0;
        margin: 3px auto 25px auto;
        width: 400px;
        height: 40px;

        & > * {
            position: absolute;
            top: 0;
            border: none;
            outline: none;
            margin: 0;
            font-size: 15px;
            height: 40px;
            .box-sizing(border-box);
        }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        .input {
            left: 0;
            color: #333;
            width: 325px;
            padding: 10px 15px;
            background: #fff;
            margin-right: -5px;
            .border-radius(3px 0 0 3px);
        }

        .submit {
            right: 0;
            cursor: pointer;
            color: #fff;
            background: @color_blue;
            padding: 10px 15px;
            .border-radius(0 3px 3px 0);

            &:hover {
                background: darken(@color_blue, 5%);

                &:active {
                    background: darken(@color_blue, 10%);
                }
            }
        }
    }

    /* Slide: Main */
    #main {
        padding-bottom: 0;
        text-align: center;

        .sub-header {
            font-size: 22px;
            text-shadow: none;
            margin-bottom: 45px;
        }

        .quote {
            font-size: 19px;
            text-shadow: none;
        }

        .link {
            font-weight: lighter;
            font-size: 21px;

            a {
                color: rgba(255, 255, 255, .7);

                &:hover {
                    text-decoration: underline;

                    &:active {
                        color: rgba(255, 255, 255, .5);
                    }
                }
            }
        }

        .footer {
            margin: 60px auto 0 auto;
            width: 750px;
            height: 550px;
            overflow: hidden;
            .border-radius(5px 5px 0 0);
            .box-sizing(border-box);
            .box-shadow(0 1px 10px rgba(0, 0, 0, .2));

            #backdrop-header {
                margin: 0;
                padding: 8px 0;
                display: block;
                font-family: 'Helvetica Neue';
            }

            .video-container {
                width: 100%;
                position: relative;
                background: #000;
                text-align: left;
                .calc-height(~"100% - 35px");
            }
        }
    }

    /* Slide: Community */
    #community {
        .laborators {
            position: relative;
            width: 550px;
            .clearfix();
            .box-sizing(border-box);

            .laborator {
                position: relative;
                margin: 0 0 10px 10px;
                .float-left();

                .gravatar {
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    background: rgba(0, 0, 0, 0.1);
                    border: solid 4px rgba(0, 0, 0, 0.3);
                    .border-radius(50%);

                    &:hover {
                        border-color: rgba(0, 0, 0, 0.5);

                        &:active {
                            border-color: rgba(0, 0, 0, 0.6);
                        }
                    }

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }

    /* Slide: Classroom */
    #classroom {
        padding-bottom: 0;

        #backdrop-header div {
            .animation(blink 2s ease 3.5s normal infinite);

            @-webkit-keyframes blink {
                0% { opacity: 0; }
                40% { opacity: 1; }
                70% { opacity: 1; }
                90% { opacity: 0; }
                100% { opacity: 0; }
            }

            @-moz-keyframes blink {
                0% { opacity: 0; }
                40% { opacity: 1; }
                70% { opacity: 1; }
                90% { opacity: 0; }
                100% { opacity: 0; }
            }

            @-o-keyframes blink {
                0% { opacity: 0; }
                40% { opacity: 1; }
                70% { opacity: 1; }
                90% { opacity: 0; }
                100% { opacity: 0; }
            }

            @keyframes blink {
                0% { opacity: 0; }
                40% { opacity: 1; }
                70% { opacity: 1; }
                90% { opacity: 0; }
                100% { opacity: 0; }
            }
        }

        .footer {
            width: 610px;
            height: 450px;
            overflow: hidden;
            .border-radius(5px 5px 0 0);
            .box-sizing(border-box);
            .box-shadow(0 1px 10px rgba(0, 0, 0, .2));

            #backdrop-header {
                margin: 0;
                padding: 8px 0;
                display: block;
                font-family: 'Helvetica Neue';
                position: relative;

                div {
                    position: absolute;
                    right: 10px;
                    width: 8px;
                    height: 8px;
                    opacity: 0;
                    background: @color_green;
                    .border-radius(50%);
                }
            }

            .code-container {
                width: 100%;
                position: relative;
                background: @color_body;
                text-align: left;
            }
        }
    }

    /* Slide: Catalyst */
    #catalyst {
        min-height: inherit;

        .files {
            background: rgba(0, 0, 0, 0.5);
            padding: 40px;
            height: 100%;
            .clearfix();
            .border-radius(4px);
            .box-shadow(inset 0 0 10px rgba(0, 0, 0, 0.3));

            .file {
                position: relative;
                margin-left: 30px;
                .float-left();

                &:first-child {
                    margin: 0;
                }

                &.disabled {
                    opacity: .6;
                }

                img {
                    width: 110px;
                }

                .name {
                    position: absolute;
                    bottom: 15px;
                    width: 100%;
                    text-align: center;
                }
            }

            .progress {
                margin-top: 10px;

                & > * {
                    padding: 5px;
                    text-align: center;
                    .float-left();
                    .box-sizing(border-box);
                    .border-radius(2px);
                }

                .live {
                    width: 110px;
                    background: @color_green;
                    margin-right: 30px;
                    .animation(fade 2s ease 3.5s normal infinite);

                    @-webkit-keyframes fade {
                        50% { .box-shadow(0 0 15px lighten(@color_green, 15%)); }
                    }

                    @-moz-keyframes fade {
                        50% { .box-shadow(0 0 15px lighten(@color_green, 15%)); }
                    }

                    @-o-keyframes fade {
                        50% { .box-shadow(0 0 15px lighten(@color_green, 15%)); }
                    }

                    @keyframes fade {
                        50% { .box-shadow(0 0 15px lighten(@color_green, 15%)); }
                    }

                    &:hover {
                        background: darken(@color_green, 2%);

                        &:active {
                            background: darken(@color_green, 5%);
                        }
                    }
                }

                .development {
                    width: 390px;
                    background: @color_blue;
                    opacity: 0.6;
                }
            }
        }
    }

    /* Slide: Register */
    #register {
        padding: 50px 0;
        min-height: inherit;
        text-align: center;

        .quote {
            font-size: 19px;
        }

        .input-pair {
            margin-bottom: 0;
        }
    }

    /* Slide: Students */
    #students {
        .founders {
            .clearfix();

            .founder {
                margin-left: 60px;
                .float-left();

                &:first-child {
                    margin: 0;
                }

                &:hover .gravatar {
                    border-color: rgba(0, 0, 0, 0.4);

                    &:active {
                        border-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .gravatar {
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border: solid 7px rgba(0, 0, 0, 0.3);
                    .border-radius(50%);

                    img {
                        width: 150px;
                        height: 150px;
                    }
                }

                .name {
                    width: 100%;
                    text-align: center;
                    margin-top: 10px;
                    font-size: 18px;
                    text-shadow: 0 2px 0 rgba(0, 0, 0, .6);
                }
            }
        }
    }

    /* Slide: Footer */
    #footer {
        padding: 25px 0;
        background: rgba(0, 0, 0, 0.3);
        min-height: inherit;
        text-align: center;

        a {
            opacity: .8;
            margin-left: 25px;

            &:first-child {
                margin: 0;
            }

            &:hover {
                opacity: .9;

                &:active {
                    opacity: 1;
                }
            }


            img {
                width: 30px;
                height: 30px;
            }
        }

    }
}
