@import '../core/index';
@import '../compless/all';

* {
    font-family: "Gill Sans";
}

#logo {
    display: none;
    position: absolute;
    z-index: 100003;
    width: 38px;
    height: 38px;
}


#landing {
    display: none;
    position: absolute;
    z-index: 100002;
    margin: 80px 10px 0 10px;
    text-align: center;
    .clearfix();

    .header {
        font-size: 32px;
        font-weight: lighter;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
    }

    .sub-header {
        font-size: 14px;
        font-weight: lighter;
        margin-bottom: 25px;

        strong {
            font-weight: 500;
        }
    }

    .launch {
        color: #cfd2d2;
        font-weight: 100;
        font-style: italic;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .compatible {
        font-size: 14px;
        font-weight: lighter;
        margin-bottom: 50px;

        .browsers {
            margin-top: 10px;

            a {
                margin-left: 25px;

                &:first-child {
                    margin: 0;
                }

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

#social {
    display: none;
    position: absolute;
    z-index: 100002;
    bottom: 25px;
    width: 100%;
    text-align: center;

     @media (orientation:landscape) {
        display: none !important;
    }

    a {
        opacity: 1;
        margin-left: 12px;

        &:first-child {
            margin: 0;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}
