<% include ../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container" class="larger backdrop-text">
            <%- error_html %>
            <% if(home != false) { %>
                <br/>Please continue back
                <% if(embed == true) { %>
                    <a class="backdrop-link" target="_blank" href="/">home</a>.
                <% } else { %>
                    <a class="backdrop-link" href="/">home</a>.
                <% } %>
            <% } %>
         </div>
    </div>
    <% if(home != false) { %>
        <div id="backdrop-footer">
            <ul>
                <% include ../includes/backdrop_footer.html %>
            </ul>
        </div>
    <% } %>
</div>
<% include ../includes/end.html %>
