<% include ../includes/start.html %>
<% if(!embed) { %>
    <% include ../includes/header.html %>
<% } %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
        <% if(embed) { %>
            <a target="_blank" href="/"><div id="backdrop-logo"><%= logo %></div></a>
        <% } %>
         <div id="backdrop-container" class="larger backdrop-text">
            <%- error_html %>
            <% if(home && !embed) { %>
                <br/>Please continue back
                <a class="backdrop-link" href="/">home</a>.
            <% } %>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <% include ../includes/backdrop_footer.html %>
        </ul>
    </div>
</div>
<% include ../includes/end.html %>
