<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <div id="backdrop-container" class="larger backdrop-text">
            <%- error_html %>
            <% if(home && !embed) { %>
                <br/>Please continue back
                <a class="backdrop-link" href="/">home</a>.
            <% } %>
         </div>
    </div>
    <% if(home && !embed) { %>
        <div id="backdrop-footer">
            <ul>
                <% include ../includes/backdrop_footer.html %>
            </ul>
        </div>
    <% } %>
</div>
<% include ../includes/end.html %>
