<strong>Medium (350px)</strong><br>
<iframe src="/editor/embed/<%= document %>/" width="350px" height="350px" style="outline: none; border: none;"></iframe>
<br><br><br><br><br><br>

<strong>Medium (400px)</strong><br>
<iframe src="/editor/embed/<%= document %>/" width="400px" height="400px" style="outline: none; border: none;"></iframe>
<br><br><br><br><br><br>

<strong>Medium (500px)</strong><br>
<iframe src="/editor/embed/<%= document %>/" width="500px" height="500px" style="outline: none; border: none;"></iframe>
<br><br><br><br><br><br>

<strong>Medium (600px)</strong><br>
<iframe src="/editor/embed/<%= document %>/" width="600px" height="600px" style="outline: none; border: none;"></iframe>
<br><br><br><br><br><br>

<strong>Large (700px)</strong><br>
<iframe src="/editor/embed/<%= document %>/" width="700px" height="700px" style="outline: none; border: none;"></iframe>
<br><br><br><br><br><br>
