@import '../core/index';
@import '../compless/all';

body {
    background: #000;
    min-width: inherit;
    min-height: inherit;

    width: 100%;
    height: 100%;

    .status {
        color: #fff;
        font-size: 10px;
        font-family: "Not Just Groovy";
    }
}
