<% include ../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <% if(user) { %>
        <div id="backdrop-nav">
            <a class="bubble gravatar" href="/users/<%= user.screen_name %>/">
                <img src="<%= user.gravatar %>" />
            </a>
            <a class="bubble color blue" href="/documents/">
                <div class="<%= icons.online %>"></div>
            </a>
            <a class="bubble color red" href="/trending/">
                <div class="<%= icons.trending %>"></div>
            </a>
        </div>
    <% } %>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container" class="largerTwo">
             <div id="backdrop-header">
                <%= laborator.name %>
                <% if(laborator.admin) { %>
                    <span>(Staff)</span>
                <% } %>
             </div>
             <div class="gravatar">
                 <img src="<%= laborator.gravatar %>" />
             </div>
             <div class="information">
                 <div class="item">
                     <div class="key">Screen Name</div>
                     <div class="value"><%= laborator.screen_name %></div>
                 </div>
                 <% if(laborator.location) { %>
                     <div class="item">
                         <div class="key">Location</div>
                         <div class="value"><%= laborator.location %></div>
                     </div>
                 <% } %>
                 <% if(laborator.url) { %>
                     <div class="item">
                         <div class="key">Url</div>
                         <div class="value">
                            <a target="_blank" href="<%= laborator.url %>"><%=: laborator.url | link %></a>
                         </div>
                     </div>
                 <% } %>
                 <% if(laborator.organizations.length != 0) { %>
                    <div class="item">
                        <div class="key"><%= laborator.organizations[0].permission.name %> at</div>
                        <div class="value"><%= laborator.organizations[0].organization.name %></div>
                    </div>
                <% } %>
             </div>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <% if(loggedIn) { %>
                <li><a href="/logout/">Logout</a></li>
            <% } else { %>
                <li><a href="/login/">Log In</a></li>
            <% } %>
            <% include ../includes/backdrop_end.html %>
        </ul>
    </div>
</div>
<% include ../includes/end.html %>
