<% include ../includes/header.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container" class="largerTwo">
             <div id="backdrop-header">
                <%= user.name %>
                <% if(user.admin) { %>
                    <span>(Staff)</span>
                <% } %>
             </div>
             <div class="gravatar">
                 <img src="<%= user.gravatar %>" />
             </div>
             <div class="information">
                 <div class="item">
                     <div class="key">Screen Name</div>
                     <div class="value"><%= user.screen_name %></div>
                 </div>
                 <div class="item">
                     <div class="key">Email Address</div>
                     <div class="value"><%= user.email %></div>
                 </div>
                 <% if(user.organizations.length != 0) { %>
                    <div class="item">
                        <div class="key"><%= user.organizations[0].permission.name %> of</div>
                        <div class="value"><%= user.organizations[0].organization.name %></div>
                    </div>
                <% } %>
             </div>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <% if(loggedIn) { %>
                <li><a href="/logout/">Logout</a></li>
            <% } else { %>
                <li><a href="/login/">Log In</a></li>
            <% } %>
            <% include ../includes/backdrop_footer.html %>
        </ul>
    </div>
</div>
<% include ../includes/footer.html %>
