<% include ../../includes/start.html %>
<div id="backdrop">
    <div id="backdrop-gradient"></div>
    <div id="backdrop-img" style="<%= backdrop %>"></div>
    <div id="backdrop-core">
         <a href="/"><div id="backdrop-logo"><%= logo %></div></a>
         <div id="backdrop-container">
            <div class="backdrop-text"><%= document.name %></div>
            <form action="/editor/<%= document.pub_id %>/join/">
                <div class="loader-bar">
                    <div class="loader-bar-block"></div>
                </div>
            </form>
         </div>
    </div>
    <div id="backdrop-footer">
        <ul>
            <li><a href="/logout/">Logout</a></li>
            <% include ../../includes/backdrop_end.html %>
        </ul>
    </div>
</div>
<div class="sidebar">
    <div class="profile">
        <div class="img">
            <a href="/account/notifications/">
                <img src="<%= gravatar %>" />
            </a>
        </div>
    </div>
    <div class="controller">
        <div class="back <%= icons.circle_arrow_up %>"></div>
        <div class="title">Settings</div>
    </div>
    <div class="list">
        <div class="shadow-top"></div>
        <div class="listing">
            <div class="item" data-key="document">
                <div class="container">
                    <div class="name">File</div>
                    <div class="icon <%= icons.file %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="search">
                <div class="container">
                    <div class="name">Search</div>
                    <div class="icon <%= icons.search %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="laborators">
                <div class="container">
                    <div class="name">Laborators</div>
                    <div class="icon <%= icons.users %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <% if(document.location && user.locations[document.location]) { %>
                <% //Until Bitbucket comming and others are built %>
                <% if(user.locations[document.location].type != "bitbucket") { %>
                    <div class="item" data-key="upload">
                        <div class="container">
                            <div class="name">Upload</div>
                            <div class="icon <%= icons.circle_arrow_up %>"></div>
                        </div>
                        <div class="active"></div>
                    </div>
                <% } %>
            <% } %>
            <div class="item" data-key="download">
                <div class="container">
                    <div class="name">Download</div>
                    <div class="icon <%= icons.circle_arrow_down %>"></div>
                </div>
                <div class="active"></div>
            </div>
            <div class="item" data-key="settings">
                <div class="container">
                    <div class="name">Settings</div>
                    <div class="icon <%= icons.settings %>"></div>
                </div>
                <div class="active"></div>
            </div>
        </div>
        <div class="shadow-bottom"></div>
    </div>
    <div class="pane">
        <div class="item" data-key="document">
            <div class="form pair">
                <form name="undo">
                    <button class="button">
                        <span class="icon <%= icons.undo %>"></span>Undo
                    </button>
                </form>
                <form name="redo">
                    <button class="button">
                        <span class="icon <%= icons.redo %>"></span>Redo
                    </button>
                </form>
            </div>
            <form class="form collection" name="type-mode">
                <div class="select">
                    <div class="icon <%= icons.menu_arrows %>"></div>
                    <select name="languages"></select>
                </div>
                <div class="select">
                    <div class="icon <%= icons.menu_arrows %>"></div>
                    <select name="keymapping">
                        <option value="default">KeyMappings</option>
                        <option value="vim">Vim</option>
                        <option value="emacs">Emacs</option>
                    </select>
                </div>
                <div class="select">
                    <div class="icon <%= icons.menu_arrows %>"></div>
                    <select name="cursorSearch">
                        <option value="true">Matching: On</option>
                        <option value="false">Matching: Off</option>
                    </select>
                </div>
                <div class="select">
                    <div class="icon <%= icons.menu_arrows %>"></div>
                    <select name="whiteSpace">
                        <option value="true">White Space: On</option>
                        <option value="false">White Space: Off</option>
                    </select>
                </div>
            </form>
            <form class="form collection" name="beautify">
                <div class="select">
                    <div class="icon <%= icons.menu_arrows %>"></div>
                    <select>
                        <option value="whole">Document</option>
                        <option value="selection">Selection</option>
                    </select>
                </div>
                <button type="submit" class="button">
                    <span class="icon <%= icons.beautify %>"></span>Beautify
                </button>
            </form>
        </div>
        <div class="item" data-key="search">
            <form class="form connected" name="line-jump">
                <input class="input" type="text" placeholder="Jump To Line"/>
                <button type="submit" class="button">Go</button>
            </form>
            <form class="form connected" name="highlight-line">
                <input class="input" type="text" placeholder="Find Line(s)"/>
                <button type="submit" class="button">Go</button>
                <div class="listing search"></div>
            </form>
            <form class="form connected" name="highlight-word">
                <input class="input" type="text" placeholder="Find Word(s)"/>
                <button type="submit" class="button">Go</button>
                <div class="listing search"></div>
            </form>
        </div>
        <div class="item" data-key="laborators">
            <form class="form connected" name="invite">
                <input class="input" type="text" placeholder="screen name"/>
                <button type="submit" class="button" data-success="Go" data-loading="Go">Go</button>
                <div class="clear"></div>
                <div class="error_message"></div>
                <div class="listing screen_names"></div>
                <div class="listing laborators"></div>
            </form>
        </div>
        <% if(document.location && user.locations[document.location]) { %>
            <div class="item" data-key="upload">
                <% /* TODO: Add Bitbucket When They Release an API for Committing */ %>
                <% if(["github"].indexOf(user.locations[document.location].type) != -1) { %>
                    <form class="form collection" name="commit">
                        <div>
                            <%= user.locations[document.location].repo.capitalize %>
                            /
                            <strong><%= user.locations[document.location].branch %></strong>
                        </div>
                        <textarea class="textarea" placeholder="message"></textarea>
                        <button type="submit" class="button" data-success="Committed">
                            Commit To <%= user.locations[document.location].type.capitalize %>
                        </button>
                    </form>
                <% } %>

                <% if(["sftp"].indexOf(user.locations[document.location].type) != -1) { %>
                    <!-- Google Drive, Dropbox and Evernote coming soon -->
                    <form class="form collection" name="save">
                        <button type="submit" class="button" data-success="Saved">
                            <% if(user.locations[document.location].type == "sftp") { %>
                                Save To SFTP
                            <% } else { %>
                                Save To <%= user.locations[document.location].type.capitalize %>
                            <% } %>
                        </button>
                    </form>
                <% } %>
            </div>
        <% } %>
        <div class="item" data-key="download">
            <form class="form" name="print">
                <button type="submit" class="button">
                    <span class="icon <%= icons.print %>"></span>Print
                </button>
            </form>
            <form class="form" name="download">
                <button type="submit" class="button" data-success="Downloaded">
                    <span class="icon <%= icons.download %>"></span>Download
                </button>
            </form>
        </div>
        <div class="item" data-key="settings">
            <form class="form collection" name="settings">
                <input class="input" name="name" type="text" placeholder="file name" value="<%= document.name %>"/>
                <% if(document.owner_id == user.id) { %>
                    <% if(document.private || user.pricing.documents == null || user.documents.private < user.pricing.documents) { %>
                        <div class="select">
                            <div class="icon <%= icons.menu_arrows %>"></div>
                            <select name="private">
                                <option value="false">Public</option>
                                <option value="true" <%= (document.private) ? "selected" : "" %>>Private</option>
                            </select>
                        </div>
                    <% } %>
                    <% if(!user.organizations.empty) { %>
                        <% if(!user.organizations[0].permission.student) { %>
                            <div class="select">
                                <div class="icon <%= icons.menu_arrows %>"></div>
                                <select name="readonly">
                                    <option value="false">Collaborate</option>
                                    <option value="true" <%= (document.readonly) ? "selected" : "" %>>Readonly</option>
                                </select>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
                <button type="submit" class="button" data-success="Saved">Save Settings</button>
            </form>
            <form class="form collection" name="remove">
                <button type="submit" class="button red" data-success="<%= (document.owner_id == user.id) ? "Deleted" : "Forgotten" %>">
                    <%= (document.owner_id == user.id) ? "Delete" : "Forget" %>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="content">
    <div class="header">
        <div class="top">
            <div class="search">
                <form name="highlight-word" class="form" autocomplete="off">
                    <div class="icon <%= icons.search %>"></div>
                    <input type="text" placeholder="Search your file..." />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="accounts">
                <% if(user.admin) { %>
                    <a href="/admin/">Admin</a>
                    <span>|</span>
                <% } %>
                <a href="/account/">Account</a>
                <span>|</span>
                <a href="/documents/">Documents</a>
                <span>|</span>
                <a href="/logout/">Sign Out</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <div class="filters">
                <div class="filter" data-key="file-name">
                    <span>Name:</span>
                    <strong><%= document.name %></strong>
                </div>
                <div class="filter" data-key="file-access">
                    <span>Access:</span>
                    <strong></strong>
                </div>
                <div class="filter" data-key="file-size">
                    <span>Size:</span>
                    <strong></strong>
                </div>
                <div class="filter" data-key="file-lines">
                    <span>Lines:</span>
                    <strong></strong>
                </div>
            </div>
            <div class="message"></div>
            <div class="toggles fullscreen-toggle <%= icons.expand %>"></div>
            <% if(document.location && user.locations[document.location]) { %>
                <% if(user.locations[document.location].type == "sftp") { %>
                    <div class="toggles terminal-toggle <%= icons.terminal %>"></div>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="pane">
        <textarea id="code" name="code" placeholder="Code goes here..."></textarea>
        <div class="shadow-top"></div>
    </div>
    <% if(document.location && user.locations[document.location]) { %>
        <% if(user.locations[document.location].type == "sftp") { %>
            <div class="terminal">
                <a target="_blank" class="<%= icons.expand %>"></a>
                <iframe width="100%" height="100%" frameborder="0" data-location="<%= document.location %>"></iframe>
            </div>
        <% } %>
    <% } %>
    <div class="chat">
        <div class="controller">Chat Room</div>
        <div class="conversation">
            <div class="shadow-top"></div>
            <div class="scroll-pane"></div>
            <div class="shadow-bottom"></div>
        </div>
        <div class="messenger">
            <textarea placeholder="message goes here"></textarea>
        </div>
    </div>
</div>
<% if(document.owner_id == user.id) { %>
    <div class="context-menu">
        <div class="list"></div>
        <div class="arrow"></div>
    </div>
<% } %>
<% include ../../includes/end.html %>
