<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="container">
    <a href="/">
        <div class="logo"><%= logo %></div>
    </a>
    <div class="listing">
        <% $.each(locations, function(index, location) { %>
            <% if(location.type == "sftp") { %>
                <a href="/terminals/<%= index %>/">
                    <div class="icon <%= icons.sftp %>"></div>
                    <div class="name"><%= location.name %></div>
                </a>
            <% } %>
        <% }); %>
    </div>
</div>
<% include ../includes/end.html %>
